.v-block-wrapper{
  &.pink-wrap{
    background: #ffa5a4;
    padding-bottom: 10px;
  }
}
.v-block{
  margin-top: 20px;
  margin-bottom: 20px;
  &.-basket {
    .v-block-plate {
      margin-left: -11px;
      margin-right: -11px;
    }
  }
  &.pink-wrap{
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 0;
    .v-block-plate{
      margin-bottom: 0;
    }
    .dopinfo-action-timer{
      display: flex;
      background: #fff;
      justify-content: center;
      margin-bottom: 30px;
      line-height: 52px;
      &-head{
        font-family: 'a_futuricablackregular';
        font-weight: bold;
        font-size: 26px;
      }
      &-timer{
        font-family: 'a_futuricablackregular';
        color: red;
        font-size: 26px;
        font-weight: bold;
        margin: 0 10px;
      }
      @media (max-width: 1090px){
          margin: 0 -17px 30px;
      }
      @media (max-width: 600px){
        flex-wrap: wrap;
        .dopinfo-action-timer-text{
          display: none;
        }
      }
    }
  }
  &-plate {
    padding: 7px 0 5px;
    text-align: center;
    margin: 0 0 27px;
    background-color: #f4c9c8;
    letter-spacing: 1px;
    &.-int {
      text-align: left;
      padding-left: 24px;
      padding-right: 24px;
      text-transform: uppercase;
      letter-spacing: 0px;
    }
    &,
    h1,
    .h1,
    h2,
    .h2 {
      color: #040406;
      font: bold 18px/120% $helvFont;
    }
    h1,
    .h1,
    h2,
    .h2 {
      margin: 0;
    }
    h1,
    .h1 {
      letter-spacing: 0;
    }
  }
  &-link {
    text-align: center;
    margin: 18px 0 0;
    a {
      color: #000;
      text-decoration: none;
    }
  }
  &-wrap-slider {
    position: relative;
  }
  @media screen and (max-width: $largeTablet) {
    &.-basket {
      .v-block-plate {
        margin-left: 0;
        margin-right: 0;
      }
    }
    &-plate {
      margin: 0 -17px 42px;
      padding: 7px 0 10px;
      &,
      h1,
      .h1,
      h2,
      .h2 {
        font-size: 34px;
        font-weight: normal;
      }
    }
    &-wrap-slider {
      margin: 0 34px;
      &.-action {
        max-width: 854px;
        margin-left: auto;
        margin-right: auto;
        .swiper {
          &-button {
            &-prev {
              left: -56px;
            }
            &-next {
              right: -56px;
            }
          }
          &-pagination {
            display: block;
          }
        }
      }
    }
    &-link {
      font-size: 29px;
      line-height: 120%;
      margin: 34px 0 0;
    }
    &-item {
      padding-bottom: 85px;
    }
  }
  @media screen and (max-width: $smallTablet) {
    &.-basket {
      margin-top: -10px;
      padding-top: 0;
    }
    &-plate {
      padding: 7px 0;
      margin: 0 -17px 33px;
      &,
      h1,
      .h1,
      h2,
      .h2 {
        font-size: 18px;
        font-weight: normal;
      }
    }
    &-link {
      font-size: 18px;
      margin: 22px 0 0;
    }
    &-wrap-slider {
      margin: 0 20px;
      &.-action {
        max-width: 694px;
      }
    }
  }
  @media screen and (max-width: $largeMobile) {
    &.wrapper {
      padding-top: 1px;
      padding-bottom: 1px;
      margin-top: 0;
      margin-bottom: 16px;
    }
    &.-basket {
      margin-top: -10px;
      .v-block-plate {
        margin-left: -17px;
        margin-right: -17px;
      }
    }
    .swiper-button {
      &-prev,
      &-next {
        display: none;
      }

    }
    &-plate {
      padding: 1px 0 3px;
      margin: 0 -17px 18px;
      &,
      h1,
      .h1,
      h2,
      .h2 {
        font-size: 14px;
      }
    }
    &-link {
      font-size: 14px;
      margin: 12px 0 0;
    }
    &-wrap-slider {
      margin-left: 0;
      margin-right: 0;
    }
  }
  @media screen and (max-width: 710px) {
    &-wrap-slider {
      max-width: 501px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (max-width: 546px) {
    &-wrap-slider {
      max-width: 294px;
    }
  }
}
