<b>-15%</b>
скидка на заказ с промокодом
<div class="footer-promo">zakaz</div>
<b class="timeAction" id="timeAction" data-time="{{actionTime}}">
  <span class="hours">29</span>:<span class="minut">59</span>:<span class="sec">00</span>
</b>