<div class="footer-wrap">
  <div class="footer-nav-col">
    <div class="footer-h">
      <a href="#">
        О компании
      </a>
    </div>
    <ul>
      <li>
        <a href="#">Магазины</a>
      </li>
      <li>
        <a href="#">Контакты</a>
      </li>
      <li>
        <a href="#">О нас</a>
      </li>
      <li>
        <a href="#">Вакансии</a>
      </li>
      <li>
        <a href="#">Оптовые поставки</a>
      </li>
      <li>
        <a href="#">Франчайзинг</a>
      </li>
    </ul>
  </div>
  <div class="footer-nav-col">
    <div class="footer-h">
      <a href="#">
        Сервис и помощь
      </a>
    </div>
    <ul>
      <li>
        <a href="#">Доставка и самовывоз</a>
      </li>
      <li>
        <a href="#">Оплата</a>
      </li>
      <li>
        <a href="#">Как сделать заказ</a>
      </li>
      <li>
        <a href="#">Гарантия и возврат</a>
      </li>
      <li>
        <a href="#">Вопросы и ответы</a>
      </li>
      <li>
        <a href="#">Договор оферта</a>
      </li>
    </ul>
  </div>
  <div class="footer-nav-col">
    <div class="footer-h">
      <a href="#">
        Полезная информация
      </a>
    </div>
    <ul>
      <li>
        <a href="#">Бренды</a>
      </li>
      <li>
        <a href="#">Сексопедия</a>
      </li>
      <li>
        <a href="#">Размеры одежды</a>
      </li>
      <li>
        <a href="#">Акции, скидки и бонусы</a>
      </li>
    </ul>
  </div>
  <div class="footer-services">
    <div class="footer-h -active">
      будьте в курсе!
    </div>
    <div class="footer-intro">
      Новости и спецпредложения
    </div>
    <form action="index.php" class="footer-form">
      <div class="footer-form-row">
        <input type="text" value="" placeholder="Ваше имя">
      </div>
      <div class="footer-form-row">
        <input type="email" value="" placeholder="E-mail">
      </div>
      <div class="footer-form-row -align">
        <input type="radio" name="footerForm1" class="footer-form-chb" id="footerForm1">
        <label for="footerForm1" class="-male">
          <svg>
            <use xlink:href="#maleIcon" />
          </svg>
        </label>
        <input type="radio" name="footerForm1" class="footer-form-chb" id="footerForm2" checked>
        <label for="footerForm2" class="-female">
          <svg>
            <use xlink:href="#femeleIcon" />
          </svg>
        </label>
      </div>
      <input type="submit" name="" value="Подписаться" class="but">
      <input type="checkbox" name="footerFormCH" class="footer-form-conset" id="footerFormCH">
      <label for="footerFormCH">
        Согласие на&nbsp;обработку персональных данных
      </label>
    </form>
  </div>
</div>

<div class="footer-plate">
  <div class="footer-plate-wrap">
    <div class="footer-plate-w">
      <img src="/images/18.svg" width = "82px" height = "82px">
      <div class="footer-plate-w-text">
        <p>© 2007-2018 «Секс шоп Он и Она»</p>
        <p>Сайт предназначен для лиц, достигших 18-ти летнего возраста.</p>
      </div>
    </div>
    <div class="footer-plate-smm">
      Мы в соцсетях:
      <div class="smm">
        <a href="#">
          <svg>
            <use xlink:href="#smmVcIcon" />
          </svg>
        </a>
        <a href="#">
          <svg>
            <use xlink:href="#smmInstIcon" />
          </svg>
        </a>
        <a href="#" class="-youtube">
          <svg>
            <use xlink:href="#smmYouIcon" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>