<div class="header-col-left">
  <nav class="top-nav -largeTabletHide">
    <ul>
      <li>
        <a href="#">Магазины</a>
      </li>
      <li>
        <a href="#">Доставка</a>
      </li>
      <li>
        <a href="#">Самовывоз</a>
      </li>
      <li>
        <a href="#">Оплата</a>
      </li>
      <li>
        <a href="#">Гарантия и возврат</a>
      </li>
      <li>
        <a href="#">Анонимность</a>
      </li>
      <li>
        <a href="#">Гарантия лучшей цены</a>
      </li>
    </ul>
  </nav>
  <div class="header-nav-but">
    &nbsp;
  </div>
  <a href="/" class="logo">
    <img src="/images/logo_new.png" alt="" width="203px" class="-desctop">
    <img src="/images/onona-logo-tablet.svg" alt="" width="63px" class="-tablet">
  </a>
  <form action="index.php" class="header-form">
    <input type="text" value="">
    <input type="submit" value="">
  </form>
</div>
<div class="header-col-right">
  <div class="header-services-top -clf">
    <div class="header-services -largeTabletHide">
      <a href="#">Войдите</a> или
      <a href="#">Зарегистрируйтес</a>
    </div>
    <div class="header-basket">
      <a href="#">
        <span class="-largeTabletHide">В корзине нет товаров</span>
        <svg>
          <use xlink:href="#basketIcon" />
        </svg>
        <span class="header-basket-numb">
          0
        </span>
      </a>
    </div>
  </div>
  <div class="header-inf">
    <p class="-largeTabletTel -mobileHide">
      <a href="tel:+88005009878" >8&nbsp;(800)&nbsp;500-98-78</a>
      по России (бесплатно)
    </p>
    <p class="-largeTabletHide">
      <a href="tel:+84953749878">8&nbsp;(495)&nbsp;374-98-78</a>
      по Москве (круглосуточно)
    </p>
  </div>
</div>