<nav class="main-nav">
  <div class="wrapper">
    <ul id="mainNav">
      <li>
        <a href="#" {% if nav1 %}class="active"{% endif %}>Интернет секс-шоп</a>
        <div class="main-nav-pop -full">
          <div class="main-nav-pop-col">
            <div class="main-nav-pop-h">
              <a href="#">
                ДЛЯ ЖЕНЩИН
              </a>
            </div>
            <ul>
              <li>
                <a href="#">
                  Элитные вибраторы
                </a>
              </li>
              <li>
                <a href="#">
                  Вибраторы Hi Tech
                </a>
              </li>
              <li>
                <a href="#">
                  Стимуляторы точки G
                </a>
              </li>
              <li>
                <a href="#">
                  Стимуляторы клитора
                </a>
              </li>
              <li>
                <a href="#">
                  Фаллоимитаторы
                </a>
              </li>
              <li>
                <a href="#">
                  Вибраторы, вибромассажеры
                </a>
              </li>
              <li>
                <a href="#">
                  Вагинальные шарики, тренажеры
                </a>
              </li>
              <li>
                <a href="#">
                  Виброяйца, вибропули
                </a>
              </li>
              <li>
                <a href="#">
                  Женские помпы
                </a>
              </li>
            </ul>
          </div>
          <div class="main-nav-pop-col">
            <div class="main-nav-pop-h">
              <a href="#">
                ДЛЯ мужчин
              </a>
            </div>
            <ul>
              <li>
                <a href="#">
                  Секс-куклы
                </a>
              </li>
              <li>
                <a href="#">
                  Мега мастурбаторы-реалистики
                </a>
              </li>
              <li>
                <a href="#">
                  Вагины – реалистики
                </a>
              </li>
              <li>
                <a href="#">
                  Мастурбаторы
                </a>
              </li>
              <li>
                <a href="#">
                  Массажеры простаты
                </a>
              </li>
              <li>
                <a href="#">
                  Эрекционные кольца, насадки
                </a>
              </li>
              <li>
                <a href="#">
                  Удлиняющие насадки на пенис
                </a>
              </li>
              <li>
                <a href="#">
                  Вакуумные помпы
                </a>
              </li>
              <li>
                <a href="#">
                  Экстендеры
                </a>
              </li>
              <li>
                <a href="#">
                  Уретральные стимуляторы
                </a>
              </li>
            </ul>
          </div>
          <div class="main-nav-pop-col">
            <div class="main-nav-pop-h">
              <a href="#">
                ДЛЯ пар
              </a>
            </div>
            <ul>
              <li>
                <a href="#">
                  Страпоны
                </a>
              </li>
              <li>
                <a href="#">
                  Анальные игрушки
                </a>
              </li>
              <li>
                <a href="#">
                  Вибраторы для пар
                </a>
              </li>
              <li>
                <a href="#">
                  Двухсторонние фаллосы
                </a>
              </li>
              <li>
                <a href="#">
                  Стимуляторы из металла, керамики и стекла
                </a>
              </li>
              <li>
                <a href="#">
                  Насадки и кольца
                </a>
              </li>
              <li>
                <a href="#">
                  Подарочные наборы
                </a>
              </li>
              <li>
                <a href="#">
                  Секс-машины
                </a>
              </li>
            </ul>
          </div>
          <div class="main-nav-pop-col">
            <div class="main-nav-pop-h">
              <a href="#">
                ДЛЯ новичков
              </a>
            </div>
            <ul>
              <li>
                <a href="#">
                  Для мужчин
                </a>
              </li>
              <li>
                <a href="#">
                  Для женщин
                </a>
              </li>
              <li>
                <a href="#">
                  Для двоих
                </a>
              </li>
            </ul>
          </div>
          <div class="main-nav-pop-col">
            <div class="main-nav-pop-h">
              <a href="#">
                ДЛЯ ЖЕНЩИН
              </a>
            </div>
            <ul>
              <li>
                <a href="#">
                  Элитные вибраторы
                </a>
              </li>
              <li>
                <a href="#">
                  Вибраторы Hi Tech
                </a>
              </li>
              <li>
                <a href="#">
                  Стимуляторы точки G
                </a>
              </li>
              <li>
                <a href="#">
                  Стимуляторы клитора
                </a>
              </li>
              <li>
                <a href="#">
                  Фаллоимитаторы
                </a>
              </li>
              <li>
                <a href="#">
                  Вибраторы, вибромассажеры
                </a>
              </li>
              <li>
                <a href="#">
                  Вагинальные шарики, тренажеры
                </a>
              </li>
              <li>
                <a href="#">
                  Виброяйца, вибропули
                </a>
              </li>
              <li>
                <a href="#">
                  Женские помпы
                </a>
              </li>
            </ul>
          </div>
          <div class="main-nav-pop-col">
            <div class="main-nav-pop-h">
              <a href="#">
                ДЛЯ мужчин
              </a>
            </div>
            <ul>
              <li>
                <a href="#">
                  Секс-куклы
                </a>
              </li>
              <li>
                <a href="#">
                  Мега мастурбаторы-реалистики
                </a>
              </li>
              <li>
                <a href="#">
                  Вагины – реалистики
                </a>
              </li>
              <li>
                <a href="#">
                  Мастурбаторы
                </a>
              </li>
              <li>
                <a href="#">
                  Массажеры простаты
                </a>
              </li>
              <li>
                <a href="#">
                  Эрекционные кольца, насадки
                </a>
              </li>
              <li>
                <a href="#">
                  Удлиняющие насадки на пенис
                </a>
              </li>
              <li>
                <a href="#">
                  Вакуумные помпы
                </a>
              </li>
              <li>
                <a href="#">
                  Экстендеры
                </a>
              </li>
              <li>
                <a href="#">
                  Уретральные стимуляторы
                </a>
              </li>
            </ul>
          </div>
          <div class="main-nav-pop-col">
            <div class="main-nav-pop-h">
              <a href="#">
                ДЛЯ пар
              </a>
            </div>
            <ul>
              <li>
                <a href="#">
                  Страпоны
                </a>
              </li>
              <li>
                <a href="#">
                  Анальные игрушки
                </a>
              </li>
              <li>
                <a href="#">
                  Вибраторы для пар
                </a>
              </li>
              <li>
                <a href="#">
                  Двухсторонние фаллосы
                </a>
              </li>
              <li>
                <a href="#">
                  Стимуляторы из металла, керамики и стекла
                </a>
              </li>
              <li>
                <a href="#">
                  Насадки и кольца
                </a>
              </li>
              <li>
                <a href="#">
                  Подарочные наборы
                </a>
              </li>
              <li>
                <a href="#">
                  Секс-машины
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <a href="#" {% if nav2 %}class="active"{% endif %}>Акции</a>
      </li>
      <li>
        <a href="#" {% if nav3 %}class="active"{% endif %}>Магазины</a>
        <div class="main-nav-pop">
          <ul>
            <li>
              <a href="#">«Он и Она» в Москве и МО</a>
            </li>
            <li>
              <a href="#" target="_blank"> Сотрудничество с нашей розничной сетью</a>
            </li>
            <li>
              <a href="#">«Он и Она» в Санкт-Петербурге</a>
            </li>
            <li>
              <a href="#">«ЭРОС» в Ростове-на-Дону</a>
            </li>
            <li>
              <a href="#">«Он и Она» в Крыму</a>
            </li>
            <li>
              <a href="#">«Взрослые подарки» в Краснодаре</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#" {% if nav4 %}class="active"{% endif %}>Секс-тренинги</a>
      </li>
      <li>
        <a href="#" {% if nav5 %}class="active"{% endif %}>Всё о сексе</a>
        <div class="main-nav-pop">
          <ul>
            <li>
              <a href="#">Журнал LoveStyle</a>
            </li>
            <li>
              <a href="#">Сексопедия</a>
            </li>
            <li>
              <a href="#">ОнОна Tube/Видео</a>
            </li>
            <li>
              <a href="#">Любовные тесты</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#" {% if nav6 %}class="active"{% endif %}>Распродажа</a>
      </li>
      <li>
        <a href="#" {% if nav7 %}class="active"{% endif %}>Для новичков</a>
      </li>
    </ul>
  </div>
</nav>