<div class="popup popup-add mfp-hide" id="addBasket">
  <div class="popup-add-align">
    <div class="popup-add-head">
      Товар добавлен в корзину
    </div>
    <div class="popup-add-wrap">
      <a href="#" class="popup-add-img">
        <img src="/images/temporary/popup/popup-add-img.jpg">
      </a>
      <div class="popup-add-desc">
        <div class="popup-add-h">Наименование:</div>
        <div class="popup-add-title">Вибромассажер Impress Rabbit со&nbsp;стимуляцией клитора – розовый</div>
        <div class="popup-add-inf">
          <div class="popup-add-price">
            <div class="popup-add-h">Стоимость:</div>
            <p>1&nbsp;980&nbsp;руб.</p>
          </div>
          <div class="popup-add-bonus">
            <div class="popup-add-h">За этот товар вы получите:</div>
            <p>294 бонусных рублей</p>
          </div>
        </div>
      </div>
    </div>
    <div class="popup-add-services">
      <a href="#" class="but -roze">Продолжить покупки</a>
      <a href="#" class="but -black">Оформить заказ</a>
    </div>
  </div>
</div>