<aside class="sidebar -sexopedia">
  <div class="sidebar-up-but">
    <a href="#pop-1" class="but" >
      все статьи
    </a>
  </div>
  <div class="sidebar-sexopedia" data-upblock="#pop-1">
    <div class="sidebar-sexopedia-h">
      Сексопедия
    </div>
    <ul class="sidebar-sexopedia-nav">
      <li>
        <a href="#">
          Анальный секс
        </a>
      </li>
      <li>
        <a href="#">
          БДСМ и фетиш
        </a>
      </li>
      <li>
        <a href="#">
          Гигиена секса
        </a>
      </li>
      <li>
        <a href="#">
          Групповой секс
        </a>
      </li>
      <li>
        <a href="#">
          История секса
        </a>
      </li>
      <li>
        <a href="#">
          Контрацепция
        </a>
      </li>
      <li>
        <a href="#">
          Мастурбация
        </a>
      </li>
      <li>
        <a href="#">
          Нетрадиционные пары
        </a>
      </li>
      <li>
        <a href="#">
          Оральный секс
        </a>
      </li>
      <li>
        <a href="#">
          Оргазмы
        </a>
      </li>
      <li>
        <a href="#">
          Отношения, любовники, ревность
        </a>
      </li>
      <li>
        <a href="#">
          Первый секс
        </a>
      </li>
      <li>
        <a href="#">
          Позы для секса
        </a>
      </li>
      <li>
        <a href="#">
          Sex-открытия
        </a>
      </li>
      <li>
        <a href="#">
          Сексуальное тело
        </a>
      </li>
      <li>
        <a href="#">
          Территория секса
        </a>
      </li>
      <li>
        <a href="#">
          Увеличение члена и эрекция
        </a>
      </li>
      <li>
        <a href="#">
          Эрогенная зона
        </a>
      </li>
      <li>
        <a href="#">
          Популярная 
        </a>
      </li>
      <li>
        <a href="#">
          Сексология
        </a>
      </li>
      <li>
        <a href="#">
          Секс-игрушки
        </a>
      </li>
      <li>
        <a href="#">
          Обзоры секс-игрушек
        </a>
      </li>
      <li>
        <a href="#">
          Анальные игрушки
        </a>
      </li>
      <li>
        <a href="#">
          Вагинальные шарики
        </a>
      </li>
      <li>
        <a href="#">
          Вакуумные помпы
        </a>
      </li>
    </ul>
  </div>
</aside>