<aside class="sidebar">
  <div class="sidebar-nav">
    <ul>
      <li><a href="#" class="active">System Jo</a></li>
      <li><a href="#">Calexotics</a></li>
      <li><a href="#">Satisfyer</a></li>
      <li><a href="#">Название бренда</a></li>
      <li><a href="#">Название бренда</a></li>
      <li><a href="#">Название бренда</a></li>
      <li><a href="#">Название бренда</a></li>
      <li><a href="#">Название бренда</a></li>
      <li><a href="#">Название бренда</a></li>
      <li><a href="#">Название бренда</a></li>
      <li><a href="#">Название бренда</a></li>
      <li><a href="#">Название бренда</a></li>
      <li><a href="#">Название бренда</a></li>
      <li><a href="#">Название бренда</a></li>
      <li><a href="#">Название бренда</a></li>
      <li><a href="#">Название бренда</a></li>
      <li><a href="#">Название бренда</a></li>
      <li><a href="#">Название бренда</a></li>
      <li><a href="#">Название бренда</a></li>
    </ul>
  </div>
</aside>