<aside class="sidebar">
  <div class="sidebar-mob-but-filtr">
    <svg>
      <use xlink:href="#filtrIcon" />
    </svg>
    фильтры
  </div>
  <div class="sidebar-f">
    <div class="sidebar-f-accord -up">
      <div class="sidebar-f-accord-plate">
        Цена
      </div>
      <div class="sidebar-f-accord-up-block">
        <div class="sidebar-f-accord-cont">
          <div class="range sidebar-f-range" data-min="0" data-initminval="200000" data-initmaxval="999000" data-max="1000000" data-step="1000" data-dimension = "true">
            <div class="range-ui"></div>
            <div class="sidebar-f-range-services">
              <div class="sidebar-f-range-services-from">
                от
              </div>
              <input type="text" value="200 000" class="minCost">
              <div class="sidebar-f-range-services-before">
                до
              </div>
              <input type="text" value="999 000" class="maxCost">
              <div class="sidebar-f-range-services-dimension">
                руб.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-f-accord -up">
      <div class="sidebar-f-accord-plate">
        Длина
      </div>
      <div class="sidebar-f-accord-up-block">
        <div class="sidebar-f-accord-cont">
          <div class="range sidebar-f-range" data-min="0" data-initminval="3" data-initmaxval="165" data-max="165" data-step="1" data-dimension = "false">
            <div class="range-ui"></div>
            <div class="sidebar-f-range-services">
              <div class="sidebar-f-range-services-from">
                от
              </div>
              <input type="text" value="3" class="minCost">
              <div class="sidebar-f-range-services-before">
                до
              </div>
              <input type="text" value="165" class="maxCost">
              <div class="sidebar-f-range-services-dimension">
                см.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Вот тут для ползунков используются дробные значения "data-fraction" его значение будет показывать на сколько делить там 10, 100 или 1000 -->
    <div class="sidebar-f-accord -up">
      <div class="sidebar-f-accord-plate">
        Диаметр
      </div>
      <div class="sidebar-f-accord-up-block">
        <div class="sidebar-f-accord-cont">
          <div class="range sidebar-f-range" data-min="0" data-initminval="15" data-initmaxval="95" data-max="95" data-step="1" data-dimension = "false" data-fraction = "10">
            <div class="range-ui"></div>
            <div class="sidebar-f-range-services">
              <div class="sidebar-f-range-services-from">
                от
              </div>
              <input type="text" value="1.5" class="minCost">
              <div class="sidebar-f-range-services-before">
                до
              </div>
              <input type="text" value="9.5" class="maxCost">
              <div class="sidebar-f-range-services-dimension">
                см.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-f-accord -up">
      <div class="sidebar-f-accord-plate">
        Диаметр
      </div>
      <div class="sidebar-f-accord-up-block">
        <div class="sidebar-f-accord-cont" id="propDiametr">
          <div class="sidebar-f-prop" >
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="prop-1" value="prop-1" class="styleCH">
              <label for="prop-1">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="prop-2" value="prop-2" class="styleCH">
              <label for="prop-2">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="prop-3" value="prop-3" class="styleCH">
              <label for="prop-3">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="prop-4" value="prop-4" class="styleCH">
              <label for="prop-4">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="prop-5" value="prop-5" class="styleCH">
              <label for="prop-5">
                Для него <span>(3)</span>
              </label>
            </div>

            <!-- Скрытые свойства -->

            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="prop-6" value="prop-6" class="styleCH">
              <label for="prop-6">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="prop-7" value="prop-7" class="styleCH">
              <label for="prop-7">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="prop-8" value="prop-8" class="styleCH">
              <label for="prop-8">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="prop-9" value="prop-9" class="styleCH">
              <label for="prop-9">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="prop-10" value="prop-10" class="styleCH">
              <label for="prop-10">
                Для него <span>(3)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="prop-10" value="prop-10" class="styleCH">
              <label for="prop-10">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="prop-11" value="prop-11" class="styleCH">
              <label for="prop-11">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="prop-12" value="prop-12" class="styleCH">
              <label for="prop-12">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="prop-13" value="prop-13" class="styleCH">
              <label for="prop-13">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="prop-14" value="prop-14" class="styleCH">
              <label for="prop-14">
                Для него <span>(3)</span>
              </label>
            </div>
          </div>
          <!-- Свойства будут выпадать по ID-ку в 'href' -->
          <div class="sidebar-f-prop-all">
            <a href="#propDiametr" data-all="Посмотреть все" data-up="Свернуть все"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-f-accord -up">
      <div class="sidebar-f-accord-plate">
        Материал
      </div>
      <div class="sidebar-f-accord-up-block">
        <div class="sidebar-f-accord-cont" id="propMaterial">
          <div class="sidebar-f-prop">
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-1" value="propMaterial-1" class="styleCH">
              <label for="propMaterial-1">
                ABS Plastic <span>(321)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-2" value="propMaterial-2" class="styleCH">
              <label for="propMaterial-2">
                Acrylic <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-3" value="propMaterial-3" class="styleCH">
              <label for="propMaterial-3">
                Aluminum <span>(3)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-4" value="propMaterial-4" class="styleCH">
              <label for="propMaterial-4">
                Brass <span>(1)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-5" value="propMaterial-5" class="styleCH">
              <label for="propMaterial-5">
                Ceramic <span>(4)</span>
              </label>
            </div>

            <!-- Скрытые свойства -->

            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-6" value="propMaterial-6" class="styleCH">
              <label for="propMaterial-6">
                ABS Plastic <span>(321)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-7" value="propMaterial-7" class="styleCH">
              <label for="propMaterial-7">
                Acrylic <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-8" value="propMaterial-8" class="styleCH">
              <label for="propMaterial-8">
                Aluminum <span>(3)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-9" value="propMaterial-9" class="styleCH">
              <label for="propMaterial-9">
                Brass <span>(1)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-10" value="propMaterial-10" class="styleCH">
              <label for="propMaterial-10">
                Ceramic <span>(4)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-11" value="propMaterial-11" class="styleCH">
              <label for="propMaterial-11">
                ABS Plastic <span>(321)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-12" value="propMaterial-12" class="styleCH">
              <label for="propMaterial-12">
                Acrylic <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-13" value="propMaterial-13" class="styleCH">
              <label for="propMaterial-13">
                Aluminum <span>(3)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-14" value="propMaterial-14" class="styleCH">
              <label for="propMaterial-14">
                Brass <span>(1)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-15" value="propMaterial-15" class="styleCH">
              <label for="propMaterial-15">
                Ceramic <span>(4)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-16" value="propMaterial-16" class="styleCH">
              <label for="propMaterial-16">
                ABS Plastic <span>(321)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-17" value="propMaterial-17" class="styleCH">
              <label for="propMaterial-17">
                Acrylic <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-18" value="propMaterial-18" class="styleCH">
              <label for="propMaterial-18">
                Aluminum <span>(3)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-19" value="propMaterial-19" class="styleCH">
              <label for="propMaterial-19">
                Brass <span>(1)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMaterial-20" value="propMaterial-20" class="styleCH">
              <label for="propMaterial-20">
                Ceramic <span>(4)</span>
              </label>
            </div>
          </div>
          <!-- Свойства будут выпадать по ID-ку в 'href' -->
          <div class="sidebar-f-prop-all">
            <a href="#propMaterial" data-all="Посмотреть все" data-up="Свернуть все"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-f-accord -up">
      <div class="sidebar-f-accord-plate">
        Цвет
      </div>
      <div class="sidebar-f-accord-up-block">
        <div class="sidebar-f-accord-cont" id="propColor">
          <div class="sidebar-f-prop">
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propColor-1" value="propColor-1" class="styleCH">
              <label for="propColor-1">
                <!-- Цвета можно и через 'style' зафигачить, скорее всего так и получится -->
                <span class="sidebar-f-prop-color -color-1">
                  &nbsp;
                </span>
                Красный
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propColor-2" value="propColor-2" class="styleCH">
              <label for="propColor-2">
                <!-- Цвета можно и через 'style' зафигачить, скорее всего так и получится -->
                <span class="sidebar-f-prop-color -color-2">
                  &nbsp;
                </span>
                Оранжевый
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propColor-3" value="propColor-3" class="styleCH">
              <label for="propColor-3">
                <!-- Цвета можно и через 'style' зафигачить, скорее всего так и получится -->
                <span class="sidebar-f-prop-color -color-3">
                  &nbsp;
                </span>
                Желтый
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propColor-4" value="propColor-4" class="styleCH">
              <label for="propColor-4">
                <!-- Цвета можно и через 'style' зафигачить, скорее всего так и получится -->
                <span class="sidebar-f-prop-color -color-4">
                  &nbsp;
                </span>
                Зеленый
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propColor-5" value="propColor-5" class="styleCH">
              <label for="propColor-5">
                <!-- Цвета можно и через 'style' зафигачить, скорее всего так и получится -->
                <span class="sidebar-f-prop-color -color-5">
                  &nbsp;
                </span>
                Синий
              </label>
            </div>
            <!-- Начинаются скрытые свойства -->
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propColor-6" value="propColor-6" class="styleCH">
              <label for="propColor-6">
                <!-- Цвета можно и через 'style' зафигачить, скорее всего так и получится -->
                <span class="sidebar-f-prop-color -color-1">
                  &nbsp;
                </span>
                Красный
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propColor-7" value="propColor-7" class="styleCH">
              <label for="propColor-7">
                <!-- Цвета можно и через 'style' зафигачить, скорее всего так и получится -->
                <span class="sidebar-f-prop-color -color-2">
                  &nbsp;
                </span>
                Оранжевый
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propColor-8" value="propColor-8" class="styleCH">
              <label for="propColor-8">
                <!-- Цвета можно и через 'style' зафигачить, скорее всего так и получится -->
                <span class="sidebar-f-prop-color -color-3">
                  &nbsp;
                </span>
                Желтый
              </label>
            </div>
          </div>
          <!-- Свойства будут выпадать по ID-ку в 'href' -->
          <div class="sidebar-f-prop-all">
            <a href="#propColor" data-all="Посмотреть все" data-up="Свернуть все"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-f-accord">
      <div class="sidebar-f-accord-plate">
        Производитель
      </div>
      <div class="sidebar-f-accord-up-block">
        <div class="sidebar-f-accord-cont" id="propManufactures">
          <div class="sidebar-f-prop" >
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMan-1" value="propMan-1" class="styleCH">
              <label for="propMan-1">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMan-2" value="propMan-2" class="styleCH">
              <label for="propMan-2">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMan-3" value="propMan-3" class="styleCH">
              <label for="propMan-3">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMan-4" value="propMan-4" class="styleCH">
              <label for="propMan-4">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMan-5" value="propMan-5" class="styleCH">
              <label for="propMan-5">
                Для него <span>(3)</span>
              </label>
            </div>

            <!-- Скрытые свойства -->

            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMan-6" value="propMan-6" class="styleCH">
              <label for="propMan-6">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMan-7" value="propMan-7" class="styleCH">
              <label for="propMan-7">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMan-8" value="propMan-8" class="styleCH">
              <label for="propMan-8">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMan-9" value="propMan-9" class="styleCH">
              <label for="propMan-9">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMan-10" value="propMan-10" class="styleCH">
              <label for="propMan-10">
                Для него <span>(3)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMan-10" value="propMan-10" class="styleCH">
              <label for="propMan-10">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMan-11" value="propMan-11" class="styleCH">
              <label for="propMan-11">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMan-12" value="propMan-12" class="styleCH">
              <label for="propMan-12">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMan-13" value="propMan-13" class="styleCH">
              <label for="propMan-13">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propMan-14" value="propMan-14" class="styleCH">
              <label for="propMan-14">
                Для него <span>(3)</span>
              </label>
            </div>
          </div>
          <!-- Свойства будут выпадать по ID-ку в 'href' -->
          <div class="sidebar-f-prop-all">
            <a href="#propManufactures" data-all="Посмотреть все" data-up="Свернуть все"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-f-accord">
      <div class="sidebar-f-accord-plate">
        Особенность
      </div>
      <div class="sidebar-f-accord-up-block">
        <div class="sidebar-f-accord-cont" id="propFeature">
          <div class="sidebar-f-prop" >
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propFeauture-1" value="propFeauture-1" class="styleCH">
              <label for="propFeauture-1">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propFeauture-2" value="propFeauture-2" class="styleCH">
              <label for="propFeauture-2">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propFeauture-3" value="propFeauture-3" class="styleCH">
              <label for="propFeauture-3">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propFeauture-4" value="propFeauture-4" class="styleCH">
              <label for="propFeauture-4">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propFeauture-5" value="propFeauture-5" class="styleCH">
              <label for="propFeauture-5">
                Для него <span>(3)</span>
              </label>
            </div>

            <!-- Скрытые свойства -->

            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propFeauture-6" value="propFeauture-6" class="styleCH">
              <label for="propFeauture-6">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propFeauture-7" value="propFeauture-7" class="styleCH">
              <label for="propFeauture-7">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propFeauture-8" value="propFeauture-8" class="styleCH">
              <label for="propFeauture-8">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propFeauture-9" value="propFeauture-9" class="styleCH">
              <label for="propFeauture-9">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propFeauture-10" value="propFeauture-10" class="styleCH">
              <label for="propFeauture-10">
                Для него <span>(3)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propFeauture-10" value="propFeauture-10" class="styleCH">
              <label for="propFeauture-10">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propFeauture-11" value="propFeauture-11" class="styleCH">
              <label for="propFeauture-11">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propFeauture-12" value="propFeauture-12" class="styleCH">
              <label for="propFeauture-12">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propFeauture-13" value="propFeauture-13" class="styleCH">
              <label for="propFeauture-13">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propFeauture-14" value="propFeauture-14" class="styleCH">
              <label for="propFeauture-14">
                Для него <span>(3)</span>
              </label>
            </div>
          </div>
          <!-- Свойства будут выпадать по ID-ку в 'href' -->
          <div class="sidebar-f-prop-all">
            <a href="#propFeature" data-all="Посмотреть все" data-up="Свернуть все"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-f-accord">
      <div class="sidebar-f-accord-plate">
        Коллекция
      </div>
      <div class="sidebar-f-accord-up-block">
        <div class="sidebar-f-accord-cont" id="propCollection">
          <div class="sidebar-f-prop" >
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-1" value="propCollection-1" class="styleCH">
              <label for="propCollection-1">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-2" value="propCollection-2" class="styleCH">
              <label for="propCollection-2">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-3" value="propCollection-3" class="styleCH">
              <label for="propCollection-3">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-4" value="propCollection-4" class="styleCH">
              <label for="propCollection-4">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-5" value="propCollection-5" class="styleCH">
              <label for="propCollection-5">
                Для него <span>(3)</span>
              </label>
            </div>

            <!-- Скрытые свойства -->

            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-6" value="propCollection-6" class="styleCH">
              <label for="propCollection-6">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-7" value="propCollection-7" class="styleCH">
              <label for="propCollection-7">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-8" value="propCollection-8" class="styleCH">
              <label for="propCollection-8">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-9" value="propCollection-9" class="styleCH">
              <label for="propCollection-9">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-10" value="propCollection-10" class="styleCH">
              <label for="propCollection-10">
                Для него <span>(3)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-10" value="propCollection-10" class="styleCH">
              <label for="propCollection-10">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-11" value="propCollection-11" class="styleCH">
              <label for="propCollection-11">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-12" value="propCollection-12" class="styleCH">
              <label for="propCollection-12">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-13" value="propCollection-13" class="styleCH">
              <label for="propCollection-13">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-14" value="propCollection-14" class="styleCH">
              <label for="propCollection-14">
                Для него <span>(3)</span>
              </label>
            </div>
          </div>
          <!-- Свойства будут выпадать по ID-ку в 'href' -->
          <div class="sidebar-f-prop-all">
            <a href="#propCollection" data-all="Посмотреть все" data-up="Свернуть все"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-f-accord">
      <div class="sidebar-f-accord-plate">
        Размер
      </div>
      <div class="sidebar-f-accord-up-block">
        <div class="sidebar-f-accord-cont">
          <div class="range sidebar-f-range" data-min="0" data-initminval="3" data-initmaxval="165" data-max="165" data-step="1" data-dimension = "false">
            <div class="range-ui"></div>
            <div class="sidebar-f-range-services">
              <div class="sidebar-f-range-services-from">
                от
              </div>
              <input type="text" value="3" class="minCost">
              <div class="sidebar-f-range-services-before">
                до
              </div>
              <input type="text" value="165" class="maxCost">
              <div class="sidebar-f-range-services-dimension">
                см.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-f-accord">
      <div class="sidebar-f-accord-plate">
        Тип
      </div>
      <div class="sidebar-f-accord-up-block">
        <div class="sidebar-f-accord-cont" id="propType">
          <div class="sidebar-f-prop" >
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propType-1" value="propType-1" class="styleCH">
              <label for="propType-1">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propType-2" value="propType-2" class="styleCH">
              <label for="propType-2">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propType-3" value="propType-3" class="styleCH">
              <label for="propType-3">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propType-4" value="propType-4" class="styleCH">
              <label for="propType-4">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propType-5" value="propType-5" class="styleCH">
              <label for="propType-5">
                Для него <span>(3)</span>
              </label>
            </div>

            <!-- Скрытые свойства -->

            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propType-6" value="propType-6" class="styleCH">
              <label for="propType-6">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propType-7" value="propType-7" class="styleCH">
              <label for="propType-7">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propType-8" value="propType-8" class="styleCH">
              <label for="propType-8">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propType-9" value="propType-9" class="styleCH">
              <label for="propType-9">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propType-10" value="propType-10" class="styleCH">
              <label for="propType-10">
                Для него <span>(3)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propType-10" value="propType-10" class="styleCH">
              <label for="propType-10">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propType-11" value="propType-11" class="styleCH">
              <label for="propType-11">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propType-12" value="propType-12" class="styleCH">
              <label for="propType-12">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propType-13" value="propType-13" class="styleCH">
              <label for="propType-13">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propType-14" value="propType-14" class="styleCH">
              <label for="propType-14">
                Для него <span>(3)</span>
              </label>
            </div>
          </div>
          <!-- Свойства будут выпадать по ID-ку в 'href' -->
          <div class="sidebar-f-prop-all">
            <a href="#propType" data-all="Посмотреть все" data-up="Свернуть все"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-f-accord">
      <div class="sidebar-f-accord-plate">
        Количество
      </div>
      <div class="sidebar-f-accord-up-block">
        <div class="sidebar-f-accord-cont" id="propCollection">
          <div class="sidebar-f-prop" >
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-1" value="propCollection-1" class="styleCH">
              <label for="propCollection-1">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-2" value="propCollection-2" class="styleCH">
              <label for="propCollection-2">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-3" value="propCollection-3" class="styleCH">
              <label for="propCollection-3">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-4" value="propCollection-4" class="styleCH">
              <label for="propCollection-4">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-5" value="propCollection-5" class="styleCH">
              <label for="propCollection-5">
                Для него <span>(3)</span>
              </label>
            </div>

            <!-- Скрытые свойства -->

            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-6" value="propCollection-6" class="styleCH">
              <label for="propCollection-6">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-7" value="propCollection-7" class="styleCH">
              <label for="propCollection-7">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-8" value="propCollection-8" class="styleCH">
              <label for="propCollection-8">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-9" value="propCollection-9" class="styleCH">
              <label for="propCollection-9">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-10" value="propCollection-10" class="styleCH">
              <label for="propCollection-10">
                Для него <span>(3)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-10" value="propCollection-10" class="styleCH">
              <label for="propCollection-10">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-11" value="propCollection-11" class="styleCH">
              <label for="propCollection-11">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-12" value="propCollection-12" class="styleCH">
              <label for="propCollection-12">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-13" value="propCollection-13" class="styleCH">
              <label for="propCollection-13">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propCollection-14" value="propCollection-14" class="styleCH">
              <label for="propCollection-14">
                Для него <span>(3)</span>
              </label>
            </div>
          </div>
          <!-- Свойства будут выпадать по ID-ку в 'href' -->
          <div class="sidebar-f-prop-all">
            <a href="#propCollection" data-all="Посмотреть все" data-up="Свернуть все"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-f-accord">
      <div class="sidebar-f-accord-plate">
        Для кого
      </div>
      <div class="sidebar-f-accord-up-block">
        <div class="sidebar-f-accord-cont" id="propForWhom">
          <div class="sidebar-f-prop" >
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propForWhom-1" value="propForWhom-1" class="styleCH">
              <label for="propForWhom-1">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propForWhom-2" value="propForWhom-2" class="styleCH">
              <label for="propForWhom-2">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propForWhom-3" value="propForWhom-3" class="styleCH">
              <label for="propForWhom-3">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propForWhom-4" value="propForWhom-4" class="styleCH">
              <label for="propForWhom-4">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propForWhom-5" value="propForWhom-5" class="styleCH">
              <label for="propForWhom-5">
                Для него <span>(3)</span>
              </label>
            </div>

            <!-- Скрытые свойства -->

            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propForWhom-6" value="propForWhom-6" class="styleCH">
              <label for="propForWhom-6">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propForWhom-7" value="propForWhom-7" class="styleCH">
              <label for="propForWhom-7">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propForWhom-8" value="propForWhom-8" class="styleCH">
              <label for="propForWhom-8">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propForWhom-9" value="propForWhom-9" class="styleCH">
              <label for="propForWhom-9">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propForWhom-10" value="propForWhom-10" class="styleCH">
              <label for="propForWhom-10">
                Для него <span>(3)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propForWhom-10" value="propForWhom-10" class="styleCH">
              <label for="propForWhom-10">
                Без вибрации <span>(664)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propForWhom-11" value="propForWhom-11" class="styleCH">
              <label for="propForWhom-11">
                Брызгоустойчивый <span>(37)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propForWhom-12" value="propForWhom-12" class="styleCH">
              <label for="propForWhom-12">
                Вакуумный <span>(5)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propForWhom-13" value="propForWhom-13" class="styleCH">
              <label for="propForWhom-13">
                Водонепроницаемый <span>(190)</span>
              </label>
            </div>
            <div class="sidebar-f-prop-row">
              <input type="checkbox" id="propForWhom-14" value="propForWhom-14" class="styleCH">
              <label for="propForWhom-14">
                Для него <span>(3)</span>
              </label>
            </div>
          </div>
          <!-- Свойства будут выпадать по ID-ку в 'href' -->
          <div class="sidebar-f-prop-all">
            <a href="#propForWhom" data-all="Посмотреть все" data-up="Свернуть все"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-f-accord">
      <div class="sidebar-f-accord-plate">
        Ширина
      </div>
      <div class="sidebar-f-accord-up-block">
        <div class="sidebar-f-accord-cont">
          <div class="range sidebar-f-range" data-min="0" data-initminval="3" data-initmaxval="165" data-max="165" data-step="1" data-dimension = "false">
            <div class="range-ui"></div>
            <div class="sidebar-f-range-services">
              <div class="sidebar-f-range-services-from">
                от
              </div>
              <input type="text" value="3" class="minCost">
              <div class="sidebar-f-range-services-before">
                до
              </div>
              <input type="text" value="165" class="maxCost">
              <div class="sidebar-f-range-services-dimension">
                см.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>