<aside class="sidebar">
  <div class="sidebar-nav -collection">
    <ul>
      <li>
        <div class="sidebar-nav-toggle"></div>
        <a href="#" class="active">Игрушки для пар</a>
        {% include '../block/collection-ul.twig' %}
      </li>
      <li>
        <div class="sidebar-nav-toggle"></div>
        <a href="#">Игрушки для мужчин</a>
        {% include '../block/collection-ul.twig' %}
      </li>
      <li>
        <div class="sidebar-nav-toggle"></div>
        <a href="#">Игрушки для женщин</a>
        {% include '../block/collection-ul.twig' %}
      </li>
      <li>
        <div class="sidebar-nav-toggle"></div>
        <a href="#">БДСМ и фетиш</a>
        {% include '../block/collection-ul.twig' %}
      </li>
      <li>
        <div class="sidebar-nav-toggle"></div>
        <a href="#">Интимная косметика </a>
        {% include '../block/collection-ul.twig' %}
      </li>
      <li>
        <div class="sidebar-nav-toggle"></div>
        <a href="#">Эротическое бельё</a>
        {% include '../block/collection-ul.twig' %}
      </li>
      <li>
        <div class="sidebar-nav-toggle"></div>
        <a href="#">Аксессуары, разное</a>
        {% include '../block/collection-ul.twig' %}
      </li>
    </ul>
  </div>
  <div class="sidebar-brend">
    <div class="sidebar-brend-h">
      бренды
    </div>
    <div class="sidebar-brend-link">
      <div class="sidebar-brend-link-row">
        <a href="#" class="sidebar-brend-link-item">
          <img src="/images/sidebar-brend/sidebar-brend-1.png" alt="">
          FunFactory
        </a>
      </div>
      <div class="sidebar-brend-link-row">
        <a href="#" class="sidebar-brend-link-item">
          <img src="/images/sidebar-brend/sidebar-brend-2.png" alt="" class="-bMar">
          System Jo
        </a>
      </div>
    </div>
  </div>
</aside>