{% extends '../structure/index.twig' %}

{% block afterHeader %}
  <div class="breadcrumbs wrapper">
    <div class="breadcrumbs-mob-none">
      <a href="#">Секс-шоп главная</a> > Все о сексе
    </div>
    <a href="#" class="back">
      <svg>
        <use xlink:href="#backIcon" />
      </svg>
      Назад
    </a>
  </div>
  <div class="wrapper topHead">
    <h1>Всё о сексе</h1>
  </div>
  <section class=" wrapper top-slider -typeSlider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#">
            <img src="/images/temporary/sld/rnb-2.jpg">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/images/temporary/sld/rnb-1.jpg">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/images/temporary/sld/rnb-2.jpg">
          </a>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev">
      <svg>
        <use xlink:href="#backArrowIcon" />
      </svg>
    </div>
    <div class="swiper-button-next">
      <svg>
        <use xlink:href="#backArrowIcon" />
      </svg>
    </div>
  </section>
  <section class="wrapper">
    <div class="article-list">
      <div class="article-list-item">
        <a href="#" class="article-list-img">
          <img src="/images/temporary/article-list/vse_o_sekse_1.jpg" alt="">
        </a>
        <div class="article-list-desc">
          <div class="article-list-h">
            <a href="#">Журнал LoveStyle</a>
          </div>
          <div class="article-list-intro">
            Новый формат общения для ярких молодых людей
          </div>
        </div>
      </div>
      <div class="article-list-item">
        <a href="#" class="article-list-img">
          <img src="/images/temporary/article-list/vse_o_sekse_2.jpg" alt="">
        </a>
        <div class="article-list-desc">
          <div class="article-list-h">
            <a href="#">Гороскоп</a>
          </div>
          <div class="article-list-intro">Тайна характера и&nbsp;отошений</div>
        </div>
      </div>
      <div class="article-list-item">
        <a href="#" class="article-list-img">
          <img src="/images/temporary/article-list/vse_o_sekse_3.jpg" alt="">
        </a>
        <div class="article-list-desc">
          <div class="article-list-h">
            <a href="#">Сексопедия</a>
          </div>
          <div class="article-list-intro">
            Статьи о&nbsp;сексе, любви и&nbsp;здорове
          </div>
        </div>
      </div>
      <div class="article-list-item">
        <a href="#" class="article-list-img">
          <img src="/images/temporary/article-list/vse_o_sekse_4.jpg" alt="">
        </a>
        <div class="article-list-desc">
          <div class="article-list-h">
            <a href="#">Любовные тесты</a>
          </div>
          <div class="article-list-intro">
            Онлайн анализ индивидуальности
          </div>
        </div>
      </div>
      <div class="article-list-item">
        <a href="#" class="article-list-img -video">
          <img src="/images/temporary/article-list/vse_o_sekse_5.jpg" alt="">
        </a>
        <div class="article-list-desc">
          <div class="article-list-h">
            <a href="#">Он и Она | TUBE</a>
          </div>
          <div class="article-list-intro">
            Видеоблог о&nbsp;сексе
          </div>
        </div>
      </div>
      <div class="article-list-item">
        <a href="#" class="article-list-img">
          <img src="/images/temporary/article-list/vse_o_sekse_6.jpg" alt="">
        </a>
        <div class="article-list-desc">
          <div class="article-list-h">
            <a href="#">Школа Интимной Гармонии</a>
          </div>
          <div class="article-list-intro">
            Проект Национального Института Сексологии
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock afterHeader %}