{% extends '../structure/index.twig' %}

{% block afterHeader %}
  <div class="breadcrumbs wrapper">
    <div class="breadcrumbs-mob-none">
      <a href="#">Секс-шоп главная</a> > Программа «Он и Она – Бонус»
    </div>
    <a href="#" class="back">
      <svg>
        <use xlink:href="#backIcon" />
      </svg>
      Назад
    </a>
  </div>
  <div class="wrapper topHead">
    <h1>Программа «Он и Она – Бонус» - каждая ваша покупка оплачивает следующую!</h1>
  </div>
  <main class="wrapper -action">
    <div class="page-bonus">
      <div class="page-bonus-scroll">
        <div class="page-bonus-scroll-link" id="scrollLink">
          <a href="#aboutProgBonus">О программе</a>
          <a href="#scopeProgBonus">Возможности</a>
          <a href="#ruleProgBonus">Правила участия</a>
          <a href="#questionProgBonus">Вопросы/ответы</a>
        </div>
        <div class="page-bonus-scroll-rk">
          МЫ УЖЕ ПОДАРИЛИ В ВИДЕ БОНУСОВ:
         <div class="-bonus">571 286 350 руб.</div>
        </div>
      </div>

      <div class="page-bonus-rnb" >
        <div class="page-bonus-rnb-mob-wrap">
          <div class="page-bonus-rnb-head">
            Программа
            <span>«Он и Она – Бонус»</span>
          </div>
          <div class="page-bonus-rnb-title">
            Работает просто и выгодно!
          </div>
          <div class="page-bonus-rnb-circle-block">
            <div class="page-bonus-rnb-circle">
              <div class="page-bonus-rnb-circle-h -fz-1">
                1 бонус
              </div>
              <div class="page-bonus-rnb-circle-h -fz-2">
                =
              </div>
              <div class="page-bonus-rnb-circle-h -fz-1">
                1 рубль
              </div>
            </div>
            <div class="page-bonus-rnb-circle -numb">
              <div class="page-bonus-rnb-circle-h -fz-3">
                1000
              </div>
              бонусов дарим 
              <span class="block">на день рождения</span>
              каждый год 
            </div>
            <div class="page-bonus-rnb-circle -numb">
              <div class="page-bonus-rnb-circle-h -fz-3">
                300
              </div>
              бонусов дарим
              <span class="block">за регистрацию</span>
              на сайте
            </div>
          </div>
          <a href="#" class="page-bonus-rnb-but">Проверить свой БОНУСНЫЙ СЧЕТ >></a>
        </div>
      </div>

      <div class="page-bonus-scale">
        <div class="page-bonus-scale-item">
          <div class="page-bonus-scale-h">
            от 20%
          </div>
          <div class="page-bonus-scale-text">
            оплата бонусами от&nbsp;заказа! 
          </div>
        </div>
        <div class="page-bonus-scale-item">
          <div class="page-bonus-scale-h">
            до 70%
          </div>
          <div class="page-bonus-scale-text">
            оплата бонусами от&nbsp;стоимости товара
          </div>
        </div>
        <div class="page-bonus-scale-item">
          <div class="page-bonus-scale-h -fz-1">
            от 30 
            <span class="-block">до 100%</span>
          </div>
          <div class="page-bonus-scale-text">
            кэшбэк от заказа
          </div>
        </div>
        <div class="page-bonus-scale-item">
          <div class="page-bonus-scale-h -fz-2">
            30%
          </div>
          <div class="page-bonus-scale-text">
            кэшбэк от покупки в&nbsp;магазинах Москвы
          </div>
        </div>
        <div class="page-bonus-scale-item">
          <div class="page-bonus-scale-h -fz-3">
            90 дней
          </div>
          <div class="page-bonus-scale-text">
            срок действия <span class="-block">бонусов</span>
          </div>
        </div>
      </div>

      <div class="page-bonus-link-block">
        <a href="#" class="but">Авторизоваться</a>
        <a href="#" class="but">Зарегистрироваться</a>
        <a href="#" class="but">Перейти к покупкам</a>
      </div>

      <div class="page-bonus-item" id="aboutProgBonus">
        <h2>О программе «Он&nbsp;и&nbsp;Она&nbsp;-&nbsp;Бонус»</h2>
        <p>Компания «Он и Она» представляет специально разработанную программу для постоянных покупателей «Он и Она – Бонус», которая заключается в предоставлении вознаграждения за каждую покупку в интернет магазине OnOna.ru и любом магазине «Он и Она» в Москве.</p>
        <p class="-sign"><b>1 рубль = 1 Бонус.</b></p>
        <p>
          Это позволит вам совершать покупки в интернет магазине OnOna.ru со скидкой до 20% от суммы вашего заказа и до 70% от стоимости товара (акция УПРАВЛЯЙ ЦЕНОЙ). Ведь каждая ваша покупка оплачивает следующую! 
        </p>
        <p>
          <b>
            Любой потраченный рубль – это заработанный Бонус.
          </b>
        </p>
        <div class="page-bonus-item-group">
          <p class="-sign">Все очень просто и выгодно:</p>
          <p>- после регистрации на сайте OnOna.ru вам автоматически начисляются 300 приветственных Бонусов. А с каждой новой покупкой в нашем интернет магазине OnOna.ru вы получаете на свой счет Бонусы в размере до 100% от вашего оплаченного заказа.</p>
          <p>- после заполнения анкеты и совершения покупки в любом из магазинов «Он и Она» в Москве, на ваш счет будут возвращены Бонусы в размере 30% от суммы чека.</p>
        </div>
      </div>

      <div class="page-bonus-item">
        <h2>Условия акции УПРАВЛЯЙ ЦЕНОЙ</h2>

        <ol>
          <li>
            В акции участвуют товары из раздела УПРАВЛЯЙ ЦЕНОЙ! с Бонусными скидками от 30 до 70% (далее Бонусные товары).
            <ol>
              <li>
                Компания «Он и Она» вправе определять список Бонусных товаров, за которые можно расплатиться Бонусами до 100% от стоимости.
              </li>
            </ol>
          </li>
          <li>
            Бонусная скидка:
            <ol>
              <li>
                УПРАВЛЕНИЕ ЦЕНОЙ ПРОИСХОДИТ В ВАШЕЙ КОРЗИНЕ во время оформления заказа, т.е. изменять Бонусную скидку можно в корзине в ячейке «Бонусы, %».
              </li>
              <li>
                В каждом Бонусном товаре указана максимальная Бонусная скидка, которой вы можете воспользоваться при покупке.
              </li>
              <li>
                Вы можете уменьшить значение Бонусной скидки, если хотите попридержать Бонусы на своем счете. Для этого достаточно изменить процентное значение в корзине в ячейке «Бонусы, %».
                <ol>
                  <li>
                    Процентное значение Бонусной скидки кратно 5.
                  </li>
                </ol>
              </li>
              <li>
                При изменении значения в ячейке «Бонусы, %» программа автоматически высчитает сколько Бонусов спишется с вашего Бонусного счета и какую денежную сумму внести при оплате.
              </li>
              <li>
                Таким образом, приобретая Бонусный товар, Вы можете сами решить какое количество Бонусов вы хотите потратить на оплату Бонусного товара.
              </li>
              <li>
                Нельзя оплатить Бонусами больше указанной максимальной Бонусной скидки.
              </li>
            </ol>
          </li>
          <li>
            Оплата Бонусного товара:
            <ol>
              <li>
                Если максимальная Бонусная скидка составляет от 30 до 70%, то вы оплачиваете своими Бонусами от 30 до 70% + оставшуюся часть деньгами от 70 до 30% (зависит от Бонусной скидки в каждом товаре).
              </li>
              <li>
                Если максимальная скидка составляет 70% и на вашем Бонусном счете достаточно средств, то вы оплачиваете полную стоимость товара своими Бонусами.
              </li>
              <li>
                Если максимальная скидка составляет от 30 до 70% и на вашем Бонусном счете недостаточно Бонусов, то вы оплачиваете: частично своими Бонусами (сколько есть на счете) + оставшуюся часть деньгами.
              </li>
              <li>
                Если у вас нет Бонусов на счете и вы хотите приобрести Бонусный товар, то вы можете купить его оплатив полную стоимость деньгами.
              </li>
            </ol>
          </li>
          <li>
            Доставка заказа оплачивается в соответствии с действующими тарифами (Подробнее о доставке).
            <ol>
              <li>
                Бесплатная доставка осуществляется при заказе, сумма которого от 2990 руб. за вычетом всех скидок и Бонусов.
              </li>
            </ol>
          </li>
          <li>
            Количество Бонусных товаров ОГРАНИЧЕНО.
          </li>
        </ol>
      </div>

      <div class="page-bonus-item" id="scopeProgBonus">
        <h2>Возможности программы «Он и Она – Бонус»</h2>
        <p>Став участником программы после регистрации на сайте OnOna.ru, вы получаете целый комплекс услуг:</p>
        <ul>
          <li>рассчитываться приветственными Бонусами уже за первый заказ,</li>
          <li>накапливать Бонусы за заказы интернет-магазина, а также за покупки в любом из магазинов «Он и Она» в Москве,</li>
          <li>получать Бонусы за одобренные модератором отзывы о товарах и работе интернет-магазина + каждый год подарочные Бонусы на день рождения (укажите дату своего рождения при регистрации),</li>
          <li>оперативная информация о состоянии Бонусного счета (приход, расход, аннулирование),</li>
          <li>информирование о специальных акциях магазина,</li>
          <li>персональные скидки и предложения.</li>
        </ul>
      </div>

      <div class="page-bonus-item" id="ruleProgBonus">
        <h2>Правила участия</h2>
        <p class="-sign">Как пользоваться программой «Он и Она – Бонус»** в интернет магазине OnOna.ru?</p>
        <ol class="-normal">
          <li>
            Пройти регистрацию на сайте OnOna.ru и получить на свой личный счет 300 приветственных Бонусов*. Или войти в Личный кабинет под своим логином и паролем.
          </li>
          <li>
            Сделать любую покупку в интернет магазине OnOna.ru.
          </li>
          <li>
              Оплатить заказ.
              <ol>
                <li>
                  Как только вы оплачиваете свой заказ и информация об оплате данного заказа поступает в бухгалтерию (ориентировочно 14 дней), вам на счет начисляются Бонусы от 30 до 100% от стоимости оплаченного заказа.
                  <ol>
                    <li>
                      Бонусы за покупки суммируются.
                    </li>
                    <li>
                      Каждый последующий заказ продлевает действие уже начисленных на ваш счет Бонусов еще на 90 дней.
                    </li>
                  </ol>
                </li>
                <li>
                  Если в течение 14 дней после совершения заказа вам на счет не были зачислены Бонусы за оплаченный заказ, значит мы еще не получили информацию об оплате вашего заказа, поэтому вы самостоятельно можете активировать свои Бонусы в своем личном кабинете в разделе Мои Бонусы. Один оплаченный заказ предполагает только одну активацию Бонусов.
                </li>
              </ol>
          </li>
          <li>
            Написать информативные отзывы к товарам, которые помогут другим покупателям сделать правильный выбор. После одобрения отзывов модератором вам на счет зачислят от 50 до 300 Бонусов за каждый прошедший модерацию отзыв в зависимости от их информативности. Перед написанием отзывов авторизуйтесь, это необходимо для зачисления Бонусов.
          </li>
          <li>
            Добавить ваши личные фото к товарам, приобретенным вами. После одобрения фото модератором вам на счет зачислят 100 бонусов за каждое прошедшее модерацию фото. Перед добавлением фото авторизуйтесь, это необходимо для зачисления Бонусов.
          </li>
          <li>
            Итак, Бонусы в вашем распоряжении и при следующей покупке вы можете использовать их для оплаты своего заказа, для этого вам просто необходимо авторизоваться под своим логином и паролем.
          </li>
        </ol>
        <div class="page-bonus-item-group">
          <p class="-sign">
            Как пользоваться программой «Он и Она – Бонус»** в магазинах «Он и Она» в Москве? 
          </p>
          <ol class="-normal">
            <li>
              Заполнить анкету, предложенную продавцом, и получить скидку до 20% на покупку любых товаров в этом магазине.
            </li>
            <li>
              Совершить покупку.
            </li>
            <li>
              В течение 24 часов на ваш бонусный счет в OnOna.ru будут зачислены бонусы в размере 30% от суммы покупки.
            </li>
            <li>
              Чтобы проверить начисленные бонусы на своем счете, вам необходимо авторизоваться под своим логином и паролем (указаны в письме) и войти в свой Личный кабинет в раздел Мои бонусы.
            </li>
            <li>
              Итак, Бонусы в вашем распоряжении и при следующей покупке в интернет магазине OnOna.ru вы можете использовать их для оплаты своего заказа, для этого вам просто необходимо авторизоваться под своим логином и паролем.
            </li>
          </ol>
        </div>
        <div class="page-bonus-item-group">
          <p>«Он и Она – Бонус» работает просто и выгодно.</p>
        </div>
        <div class="page-bonus-item-group">
          <p><span class="-sign">*</span>Приветственные бонусы можно использовать для оплаты первого заказа.</p>
          <p><span class="-sign">**</span>Компания «Он и Она» сохраняет за собой право в одностороннем порядке вносить изменения в программу «Он и Она – Бонус» посредством публикации их на сайте OnOna.ru.</p>
        </div>
        <div class="page-bonus-item-group">
          <p class="-sign">Действие Бонусов</p>
          <p>Накопленные Бонусы действительны в течение 90 дней с момента начисления. Каждая ваша последующая покупка прибавляет Бонусы и продлевает действие неиспользованных Бонусов.</p>
        </div>
        <div class="page-bonus-item-group">
          <p class="-sign">Количество Бонусов</p>
          <p>Узнать о количестве накопленных Бонусов вы можете на сайте OnOna.ru в своем личном кабинете в разделе Мои Бонусы.</p>
          <p>Также при совершении покупки вам на e-mail придет письмо, информирующее о начислении Бонусов за оплаченный заказ и общем количестве накопленных Бонусов.</p>
        </div>
        <div class="page-bonus-item-group">
          <p class="-sign">Сколько Бонусов возвращается?</p>
          <p>Возвращаемая сумма Бонусов указана в карточке каждого товара. За Акционные товары (товары со скидкой) Бонусы не возвращаются. Компания «Он и Она» вправе в одностороннем порядке изменять процент возвращаемых средств для некоторых товаров.</p>
        </div>
        <div class="page-bonus-item-group">
          <p class="-sign">
            P.S. Бонусы и скидки не суммируются.
          </p>
        </div>
      </div>
      <div class="page-bonus-item" id="questionProgBonus">
        <h2>Вопросы/ответы</h2>
        <ul class="-reset">
          <li>
            <a href="#">
              Что такое программа «Он и Она - Бонус»?
            </a>
          </li>
          <li>
            <a href="#">
              Кто может стать участником программы «Он и Она - Бонус»?
            </a>
          </li>
          <li>
            <a href="#">
              Как стать участником программы «Он и Она - Бонус»?
            </a>
          </li>
          <li>
            <a href="#">
              Как будет использована информация, указанная при регистрации?
            </a>
          </li>
          <li>
            <a href="#">
              Какие покупки учитываются при накоплении Бонусов?
            </a>
          </li>
          <li>
            <a href="#">
              Что такое Бонусы и как ими воспользоваться?
            </a>
          </li>
          <li>
            <a href="#">
              Сколько «стоит» Бонус?
            </a>
          </li>
          <li>
            <a href="#">
              Когда Бонусы появятся на моем счете?
            </a>
          </li>
          <li>
            <a href="#">
              Сколько Бонусов мне начислят за покупку?
            </a>
          </li>
          <li>
            <a href="#">
              Сколько времени действительны накопленные Бонусы?
            </a>
          </li>
          <li>
            <a href="#">
              Можно ли Бонусы обменять на наличные деньги?
            </a>
          </li>
          <li>
            <a href="#">
              Где я могу воспользоваться Бонусами?
            </a>
          </li>
          <li>
            <a href="#">
              Я забыл логин и пароль от своего Личного кабинета можно ли мне восстановить мои Бонусы в новом Личном кабинете?
            </a>
          </li>
          <li>
            <a href="#">
              Какими бывают специальные предложения?
            </a>
          </li>
          <li>
            <a href="#">
              Как узнать о специальных предложениях?
            </a>
          </li>
          <li>
            <a href="#">
              Могу ли я потратить свои Бонусы без авторизации на сайте?
            </a>
          </li>
          <li>
            <a href="#">
              Как мне узнать сколько у меня на счете Бонусов?
            </a>
          </li>
          <li>
            <a href="#">
              Какие возможности есть еще для получения Бонусов?
            </a>
          </li>
          <li>
            <a href="#">
              Могу ли я оплатить Бонусами доставку заказа?
            </a>
          </li>
          <li>
            <a href="#">
              Если я отменил заказ, что произойдет с моими Бонусами?
            </a>
          </li>
          <li>
            <a href="#">
              Если я расплачусь по безналичному расчету, мне начислят Бонусы?
            </a>
          </li>
        </ul>
      </div>
    </div>
  </main>
{% endblock afterHeader %}