{% extends '../structure/index.twig' %}

{% block afterHeader %}
  <!-- Тут у нас по дизайну нет левого паддинга, если так сгенерить не получится не добавлять класс '-sidebar' -->
  <div class="breadcrumbs wrapper">
    <div class="breadcrumbs-mob-none">
      <a href="#">Секс-шоп главная</a> > Мировые производители товаров для взрослых
    </div>
    <a href="#" class="back">
      <svg>
        <use xlink:href="#backIcon" />
      </svg>
      Назад
    </a>
  </div>
  <div class="wrapper wrap-cont -clf -sidebar">
    <main class="cont-right">
      <h1>Мировые производители товаров для взрослых</h1>
      <div class="intro">
        <p>
          Мы «Он и Она» являемся крупнейшим поставщиком товаров для счастливой сексуальной жизни от ведущих мировых производителей.
        </p>
        <p>
          Наша миссия заключается в том, чтобы предоставить вам интересные, уникальные и&nbsp;современные игрушки для удовольствия.
        </p>
        <p>
          Мы хотим, чтобы вы чувствовали себя сексуальными и&nbsp;удовлетворенными при использовании высококачественной продукции
        </p>
      </div>
      <div class="popular-brends -typeSlider">
        <div class="h2">популярные бренды</div>
        <div class="popular-brends-slider">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#">
                  <img src="/images/brands/item-33.png">
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <img src="/images/brands/item-4.png">
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <img src="/images/brands/item-6.png">
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <img src="/images/brands/item-24.png">
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev">
            <svg>
              <use xlink:href="#backArrowIcon" />
            </svg>
          </div>
          <div class="swiper-button-next">
            <svg>
              <use xlink:href="#backArrowIcon" />
            </svg>
          </div>
        </div>
      </div>

      <div class="brands">
        <h2>все бренды</h2>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-1.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-2.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-3.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-4.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-5.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-6.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-7.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-8.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-9.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-10.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-11.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-12.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-13.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-14.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-15.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-16.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-17.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-18.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-19.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-20.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-21.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-22.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-23.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-24.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-25.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-26.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-27.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-28.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-29.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-30.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-31.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-32.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-33.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-34.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-35.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-36.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-37.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-38.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-39.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-40.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-41.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-42.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-43.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-44.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-45.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-46.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-47.png" alt="">
        </a>
        <a href="#" class="brands-item">
          <img src="/images/brands/item-48.png" alt="">
        </a>
        <div class="brands-polyfill"></div>
        <div class="brands-polyfill"></div>
      </div>
      <div class="more">
        <a href="#">Показать  еще  <svg><use xlink:href="#arrowMoreIcon" /></svg></a>
      </div>
      <div class="pag">
        <a href="#" class="pag-first -noActive">
          &lt;
          &lt;
        </a>
        <a href="#" class="pag-prev -noActive">
          &lt;
        </a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#" class="pag-next">
          &gt;
        </a>
        <a href="#" class="pag-last">
          &gt;
          &gt;
        </a>
      </div>
    </main>
    {% include '../layout/sidebar.twig'  %}
  </div>
{% endblock afterHeader %}