{% extends '../structure/index.twig' %}

{% block afterHeader %}
  <section class="top-slider wrapper -typeSlider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#">
            <img src="/images/temporary/sld/rnb-1.jpg">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/images/temporary/sld/rnb-2.jpg">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/images/temporary/sld/rnb-3.jpg">
          </a>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev">
      <svg>
        <use xlink:href="#backArrowIcon" />
      </svg>
    </div>
    <div class="swiper-button-next">
      <svg>
        <use xlink:href="#backArrowIcon" />
      </svg>
    </div>
  </section>
  <section class="v-block wrapper ">
    <div class="v-block-plate">
      <h2>ПОПУЛЯРНОЕ</h2>
    </div>
    <div class="v-block-wrap-slider -typeSlider">
      <div class="cat-list swiper-slider swiper-container -full">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <span class="cat-list-action">
                  хит
                </span>
                <img src="/images/catalog/catalog_img_2.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <img src="/images/temporary/cat/catalog_img.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <span class="cat-list-action">
                  -20%
                </span>
                <img src="/images/catalog/catalog_img_3.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price -oldPrice">
                  <span>700 руб.</span>
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <img src="/images/catalog/catalog_img_2.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide -noBg ">
            <a href="#" class="cat-list-rnb">
              <img src="/images/temporary/cat/rnbr_5.jpg">
            </a>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <span class="-byOrder"></span>
                <img src="/images/catalog/catalog_img_2.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev">
        <svg>
          <use xlink:href="#backArrowIcon" />
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg>
          <use xlink:href="#backArrowIcon" />
        </svg>
      </div>
    </div>
    <div class="v-block-link">
      <a href="#">Все популярные товары >></a>
    </div>
  </section>

  <!-- Новинки -->

  <section class="v-block wrapper ">
    <div class="v-block-plate">
      <h2>НОВИНКИ</h2>
    </div>
    <div class="v-block-wrap-slider -typeSlider">
      <div class="cat-list swiper-slider swiper-container -full">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <span class="cat-list-action">
                  хит
                </span>
                <img src="/images/catalog/catalog_img_2.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide -item-4-12 -noBg">
            <a href="#" class="cat-list-rnb">
              <img src="/images/temporary/cat/rnb-new.jpg">
            </a>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <img src="/images/catalog/catalog_img_2.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <img src="/images/temporary/cat/catalog_img.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <img src="/images/catalog/catalog_img_2.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  59&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <span class="-byOrder"></span>
                <img src="/images/catalog/catalog_img_2.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev">
        <svg>
          <use xlink:href="#backArrowIcon" />
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg>
          <use xlink:href="#backArrowIcon" />
        </svg>
      </div>
    </div>
    <div class="v-block-link">
      <a href="#">Все  новинки >></a>
    </div>
  </section>

  <!-- Рекомендуем -->

  <section class="v-block wrapper ">
    <div class="v-block-plate">
      <h2>РЕКОМЕНДУЕМ</h2>
    </div>
    <div class="v-block-wrap-slider -typeSlider">
      <div class="cat-list swiper-slider swiper-container -full">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <span class="cat-list-action">
                  хит
                </span>
                <img src="/images/catalog/catalog_img_2.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <img src="/images/temporary/cat/catalog_img.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <span class="cat-list-action">
                  -20%
                </span>
                <img src="/images/catalog/catalog_img_3.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price -oldPrice">
                  <span>700 руб.</span>
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <img src="/images/catalog/catalog_img_2.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide -noBg">
            <a href="#" class="cat-list-rnb">
              <img src="/images/temporary/cat/rnb-6.jpg">
            </a>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <span class="-byOrder"></span>
                <img src="/images/catalog/catalog_img_2.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev">
        <svg>
          <use xlink:href="#backArrowIcon" />
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg>
          <use xlink:href="#backArrowIcon" />
        </svg>
      </div>
    </div>
    <div class="v-block-link">
      <a href="#">Все  рекомендуемые товары >></a>
    </div>
  </section>

  <!-- Акции -->

  <section class="v-block wrapper ">
    <div class="v-block-plate">
      <h2>АКЦИИ</h2>
    </div>
    <div class="v-block-wrap-slider -action -typeSlider">
      <div class="cat-list swiper-slider swiper-container -full">
        <div class="swiper-wrapper">
          <div class="swiper-slide -item-6-12 -noBg">
            <a href="#" class="cat-list-rnb -noBorderRadius">
              <img src="/images/temporary/cat/rnb_1.jpg">
            </a>
          </div>
          <div class="swiper-slide -item-6-12 -noBg">
            <a href="#" class="cat-list-rnb -noBorderRadius">
              <img src="/images/temporary/cat/rnb_2.jpg">
            </a>
          </div>
          <div class="swiper-slide -item-6-12 -noBg">
            <a href="#" class="cat-list-rnb -noBorderRadius">
              <img src="/images/temporary/cat/rnb_1.jpg">
            </a>
          </div>
          <div class="swiper-slide -item-6-12 -noBg">
            <a href="#" class="cat-list-rnb -noBorderRadius">
              <img src="/images/temporary/cat/rnb_2.jpg">
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev">
        <svg>
          <use xlink:href="#backArrowIcon" />
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg>
          <use xlink:href="#backArrowIcon" />
        </svg>
      </div>
    </div>
    <div class="v-block-link">
      <a href="#">Все  акции >></a>
    </div>
  </section>

  <article class="intro-block wrapper">
    <div class="intro-block-wrap">
      <figure class="intro-block-img">
        <img src="/images/about.png" width="359px">
      </figure>
      <div class="intro-block-desc">
        <!-- Вообще можно заменить и на div с классом H1 это ничего не поломает, на главной странице это единственный блок который можно отнести к H1 -->
        <h1>
          <span class="-smallTabletDefis">магазин для взрослых “он и она” </span>
          КАЧЕСТВЕННЫЕ СЕКС-ИГРУШКИ, СЕКСУАЛЬНОЕ БЕЛЬЕ, 
          ВЫГОДНЫЕ ПРЕДЛОЖЕНИЯ И ЛУЧШИЕ БРЕНДЫ
        </h1>
        <p>Первый специализированный магазин для взрослых был открыт в Москве при отделении семейной консультации на базе медицинского центра «Медицина и репродукция» в 1992 году. Уникальность этого проекта состояла в том, что из массы зарубежных товаров отбирались исключительно те, медицинское действие которых было доказано.</p>
      </div>
    </div>
  </article>

{% endblock afterHeader %}