{% extends '../structure/index.twig' %}

{% block afterHeader %}
  <div class="breadcrumbs wrapper">
    <div class="breadcrumbs-mob-none">
      <a href="#">Секс-шоп главная</a>
      >
      Виброяйцо Amour Remote Bullet с беспроводным пультом - розовый
    </div>
    <a href="#" class="back">
      <svg>
        <use xlink:href="#backIcon" />
      </svg>
      Назад
    </a>
  </div>
  <main class="wrapper">
    <div class="product-card">
      <div class="product-card-row -top">
        <h1>Виброяйцо Amour Remote Bullet с беспроводным пультом - розовый</h1>
        <div class="product-card-wrap">
          <div class="product-card-img-block">
            <a href="/images/temporary/product-card-img.jpg" class="product-card-img" id="productCardImg">
              <img src="/images/temporary/product-card-img.jpg">
              <span class="cat-list-action">
                -20%
              </span>
            </a>
            <div class="product-card-check-img" id="checkProductCard">
              <div class="swiper-container " >
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a href="/images/temporary/product-card-img.jpg" data-bimg="/images/temporary/product-card-img.jpg" class="active">
                      <img src="/images/temporary/product-card/img-1.jpg">
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="/images/temporary/product-card-img-1.jpg" data-bimg="/images/temporary/product-card-img-1.jpg">
                      <img src="/images/temporary/product-card/img-2.jpg">
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="/images/temporary/product-card-img.jpg" data-bimg="/images/temporary/product-card-img.jpg">
                      <img src="/images/temporary/product-card/img-3.jpg">
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="/images/temporary/product-card-img-1.jpg" data-bimg="/images/temporary/product-card-img-1.jpg">
                      <img src="/images/temporary/product-card/img-4.jpg">
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="/images/temporary/product-card-img.jpg" data-bimg="/images/temporary/product-card-img.jpg">
                      <img src="/images/temporary/product-card/img-5.jpg">
                    </a>
                  </div>
                  <!-- Следующие пункты -->
                  <div class="swiper-slide">
                    <a href="/images/temporary/product-card-img-1.jpg" data-bimg="/images/temporary/product-card-img-1.jpg">
                      <img src="/images/temporary/product-card/img-1.jpg">
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="/images/temporary/product-card-img.jpg" data-bimg="/images/temporary/product-card-img.jpg">
                      <img src="/images/temporary/product-card/img-2.jpg">
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="/images/temporary/product-card-img-1.jpg" data-bimg="/images/temporary/product-card-img-1.jpg">
                      <img src="/images/temporary/product-card/img-3.jpg">
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="/images/temporary/product-card-img.jpg" data-bimg="/images/temporary/product-card-img.jpg">
                      <img src="/images/temporary/product-card/img-4.jpg">
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="/images/temporary/product-card-img-1.jpg" data-bimg="/images/temporary/product-card-img-1.jpg">
                      <img src="/images/temporary/product-card/img-5.jpg">
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-button-next">
                <svg>
                  <use xlink:href="#backArrowIcon" />
                </svg>
              </div>
            </div>
          </div>
          <div class="product-card-desc">
            <div class="product-card-plate">
              <div class="rating">
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-numb">
                  (2)
                </div>
              </div>
              <div class="product-card-numb">
                №:&nbsp;23362
              </div>
              <div class="product-card-presence -enable">
                В наличии
              </div>
            </div>
            <div class="product-card-services">
              <div class="product-card-by-block">
                <div class="product-card-old-price">
                  4 932 ₽ 
                </div>
                <div class="product-card-price">
                  4 932 ₽ 
                </div>
                <div class="product-card-delivery">
                  Бесплатная доставка!
                </div>
                <div class="product-card-but-block">
                  <a href="#" class="but -big">добавить в корзину</a>
                  <a href="#" class="but -dotted -big">купить в 1 клик</a>
                </div>
                <div class="product-card-color-block">
                  <div class="product-card-color-title">
                    Цвет:
                  </div>
                  <div class="product-card-color-label-block">
                    <!-- Цвета вставлять через "style='background-color'" -->
                    <a href="#" class="product-card-color-label active -color-1"></a>
                    <a href="#" class="product-card-color-label -color-2"></a>
                    <a href="#" class="product-card-color-label -color-3"></a>
                    <a href="#" class="product-card-color-label -color-4"></a>
                  </div>
                </div>
              </div>
              <div class="product-card-param">
                <table id="productCardChar">
                  <tr>
                    <td>
                      Производитель:
                    </td>
                    <td>
                      <a href="#">Jopen®, США</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Коллекция:
                    </td>
                    <td>
                      <a href="#">Key by Jopen®</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Материал:
                    </td>
                    <td>
                      Silicone
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Цвет:
                    </td>
                    <td>
                      Фиолетовый
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Длина:
                    </td>
                    <td>
                      21,5&nbsp;см
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Диаметр:
                    </td>
                    <td>
                      4,8&nbsp;см
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Свойство:
                    </td>
                    <td>
                      Мультискоростной, с&nbsp;вибрацией, водонепроницаемый
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Диаметр:
                    </td>
                    <td>
                      4,8&nbsp;см
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Длина:
                    </td>
                    <td>
                      21,5&nbsp;см
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Цвет:
                    </td>
                    <td>
                      Фиолетовый
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Длина:
                    </td>
                    <td>
                      21,5&nbsp;см
                    </td>
                  </tr>
                </table>
                <div class="product-card-param-more">
                  <a href="#productCardChar" class="allButJS" data-text="Показать все параметры" data-up="Скрыть параметры">
                    <svg>
                      <use xlink:href="#arrowMoreIcon" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="product-card-row product-card-desc-block">
        <div class="product-card-desc-block-head">
          <div class="h1">описание</div>
          <a href="#" class="product-card-table-icon">Таблица размеров</a>
        </div>
        <div class="product-card-res">
          <a href="#">Как сделать правильный выбор? >></a>
        </div>
        <div class="product-card-desc-block-text" id="productCardDescBlock">
          <p>Мощный стимулятор клитора и других компактных эрогенных зон, отлично подходит для массажа всего тела. 2 мощных моторчика, расположенных в "ушках" массажера могут работать в одинаковых или в разных режимах. Каждый мотор может управляться через бесплатное приложение We-Connect отдельно. Тихая, почти беззвучная работа, 10 режимов вибрации, пульсации и эскалации. 100% водонепроницаемость, быстрая зарядка 90 минут дает 2 часа игры. вибрация очень яркая и глубокая на "ушках" почти не отдается в руку, делая применение особенно комфортным. Магнитная USB-зарядка. цвет розовый. Мощный стимулятор клитора и других компактных эрогенных зон, отлично подходит для массажа всего тела. 2 мощных моторчика, расположенных в "ушках" массажера могут работать в одинаковых или в разных режимах.</p>
          <p>Мощный стимулятор клитора и других компактных эрогенных зон, отлично подходит для массажа всего тела. 2 мощных моторчика, расположенных в "ушках" массажера могут работать в одинаковых или в разных режимах. Каждый мотор может управляться через бесплатное приложение We-Connect отдельно. Тихая, почти беззвучная работа, 10 режимов вибрации, пульсации и эскалации. 100% водонепроницаемость, быстрая зарядка 90 минут дает 2 часа игры. вибрация очень яркая и глубокая на "ушках" почти не отдается в руку, делая применение особенно комфортным. Магнитная USB-зарядка. цвет розовый. Мощный стимулятор клитора и других компактных эрогенных зон, отлично подходит для массажа всего тела. 2 мощных моторчика, расположенных в "ушках" массажера могут работать в одинаковых или в разных режимах.</p>
          <div class="-hide">
            <p>Мощный стимулятор клитора и других компактных эрогенных зон, отлично подходит для массажа всего тела. 2 мощных моторчика, расположенных в "ушках" массажера могут работать в одинаковых или в разных режимах. Каждый мотор может управляться через бесплатное приложение We-Connect отдельно. Тихая, почти беззвучная работа, 10 режимов вибрации, пульсации и эскалации. 100% водонепроницаемость, быстрая зарядка 90 минут дает 2 часа игры. вибрация очень яркая и глубокая на "ушках" почти не отдается в руку, делая применение особенно комфортным. Магнитная USB-зарядка. цвет розовый. Мощный стимулятор клитора и других компактных эрогенных зон, отлично подходит для массажа всего тела. 2 мощных моторчика, расположенных в "ушках" массажера могут работать в одинаковых или в разных режимах.</p>
            <p>Мощный стимулятор клитора и других компактных эрогенных зон, отлично подходит для массажа всего тела. 2 мощных моторчика, расположенных в "ушках" массажера могут работать в одинаковых или в разных режимах. Каждый мотор может управляться через бесплатное приложение We-Connect отдельно. Тихая, почти беззвучная работа, 10 режимов вибрации, пульсации и эскалации. 100% водонепроницаемость, быстрая зарядка 90 минут дает 2 часа игры. вибрация очень яркая и глубокая на "ушках" почти не отдается в руку, делая применение особенно комфортным. Магнитная USB-зарядка. цвет розовый. Мощный стимулятор клитора и других компактных эрогенных зон, отлично подходит для массажа всего тела. 2 мощных моторчика, расположенных в "ушках" массажера могут работать в одинаковых или в разных режимах.</p>
            <p>Мощный стимулятор клитора и других компактных эрогенных зон, отлично подходит для массажа всего тела. 2 мощных моторчика, расположенных в "ушках" массажера могут работать в одинаковых или в разных режимах. Каждый мотор может управляться через бесплатное приложение We-Connect отдельно. Тихая, почти беззвучная работа, 10 режимов вибрации, пульсации и эскалации. 100% водонепроницаемость, быстрая зарядка 90 минут дает 2 часа игры. вибрация очень яркая и глубокая на "ушках" почти не отдается в руку, делая применение особенно комфортным. Магнитная USB-зарядка. цвет розовый. Мощный стимулятор клитора и других компактных эрогенных зон, отлично подходит для массажа всего тела. 2 мощных моторчика, расположенных в "ушках" массажера могут работать в одинаковых или в разных режимах.</p>
            <p>Мощный стимулятор клитора и других компактных эрогенных зон, отлично подходит для массажа всего тела. 2 мощных моторчика, расположенных в "ушках" массажера могут работать в одинаковых или в разных режимах. Каждый мотор может управляться через бесплатное приложение We-Connect отдельно. Тихая, почти беззвучная работа, 10 режимов вибрации, пульсации и эскалации. 100% водонепроницаемость, быстрая зарядка 90 минут дает 2 часа игры. вибрация очень яркая и глубокая на "ушках" почти не отдается в руку, делая применение особенно комфортным. Магнитная USB-зарядка. цвет розовый. Мощный стимулятор клитора и других компактных эрогенных зон, отлично подходит для массажа всего тела. 2 мощных моторчика, расположенных в "ушках" массажера могут работать в одинаковых или в разных режимах.</p>
          </div>
        </div>
        <div class="more">
          <a href="#productCardDescBlock" class="allButJS" data-all="Свернуть описание">
            <span>Развернуть описание</span>
            <svg>
              <use xlink:href="#arrowMoreIcon" />
            </svg>
          </a>
        </div>
      </div>

      <div class="product-card-row product-card-enable-block">
        <div class="product-card-desc-block-head">
          <h2 class="h1">Наличие в магазинах</h2>
          <a href="#" class="product-card-table-icon">
            Доставка и самовывоз
          </a>
        </div>
        <div class="product-card-enable" id="productCardEnable">
          <div class="product-card-enable-row">
            <div class="product-card-enable-name">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-6.png" alt=""> Киевская
                </a>
              </div>
            </div>
            <div class="product-card-enable-adres">
              площадь Киевского вокзала, д.&nbsp;2
            </div>
            <div class="product-card-enable-presence">
              В&nbsp;наличии
            </div>
            <div class="product-card-enable-time">
              Круглосуточно
            </div>
          </div>
          <div class="product-card-enable-row">
            <div class="product-card-enable-name">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-4.png" alt=""> Волоколамская
                </a>
              </div>
            </div>
            <div class="product-card-enable-adres">
              Пятницкое шоссе, д.&nbsp;16
            </div>
            <div class="product-card-enable-presence">
              В&nbsp;наличии
            </div>
            <div class="product-card-enable-time">
              Круглосуточно
            </div>
          </div>
          <div class="product-card-enable-row">
            <div class="product-card-enable-name">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-1.png" alt=""> Улица 1905 года
                </a>
              </div>
            </div>
            <div class="product-card-enable-adres">
              Трехгорный Вал, д.&nbsp;18
            </div>
            <div class="product-card-enable-presence">
              В&nbsp;наличии
            </div>
            <div class="product-card-enable-time">
              Круглосуточно
            </div>
          </div>
          <div class="product-card-enable-row">
            <div class="product-card-enable-name">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-3.png" alt=""> Кутузовская
                </a>
              </div>
            </div>
            <div class="product-card-enable-adres">
              Кутузовский проспект, д.&nbsp;26
            </div>
            <div class="product-card-enable-presence">
              В&nbsp;наличии
            </div>
            <div class="product-card-enable-time">
              Круглосуточно
            </div>
          </div>
          <div class="product-card-enable-row">
            <div class="product-card-enable-name">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-7.png" alt=""> Тульская
                </a>
              </div>
            </div>
            <div class="product-card-enable-adres">
              ул.&nbsp;Большая Тульская, д.&nbsp;2
            </div>
            <div class="product-card-enable-presence">
              <a href="#" class="product-card-table-icon">
                Под заказ
              </a>
            </div>
            <div class="product-card-enable-time">
              Круглосуточно
            </div>
          </div>
          <div class="product-card-enable-row">
            <div class="product-card-enable-name">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-4.png" alt=""> Первомайская
                </a>
              </div>
            </div>
            <div class="product-card-enable-adres">
              ул.&nbsp;Первомайская, д.&nbsp;44/20
            </div>
            <div class="product-card-enable-presence">
              <a href="#" class="product-card-table-icon">
                Под заказ
              </a>
            </div>
            <div class="product-card-enable-time">
              Круглосуточно
            </div>
          </div>
          <div class="product-card-enable-row">
            <div class="product-card-enable-name">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-6.png" alt=""> Киевская
                </a>
              </div>
            </div>
            <div class="product-card-enable-adres">
              площадь Киевского вокзала, д.&nbsp;2
            </div>
            <div class="product-card-enable-presence">
              В&nbsp;наличии
            </div>
            <div class="product-card-enable-time">
              Круглосуточно
            </div>
          </div>
          <div class="product-card-enable-row">
            <div class="product-card-enable-name">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-4.png" alt=""> Волоколамская
                </a>
              </div>
            </div>
            <div class="product-card-enable-adres">
              Пятницкое шоссе, д.&nbsp;16
            </div>
            <div class="product-card-enable-presence">
              В&nbsp;наличии
            </div>
            <div class="product-card-enable-time">
              Круглосуточно
            </div>
          </div>
          <div class="product-card-enable-row">
            <div class="product-card-enable-name">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-1.png" alt=""> Улица 1905 года
                </a>
              </div>
            </div>
            <div class="product-card-enable-adres">
              Трехгорный Вал, д.&nbsp;18
            </div>
            <div class="product-card-enable-presence">
              В&nbsp;наличии
            </div>
            <div class="product-card-enable-time">
              Круглосуточно
            </div>
          </div>
          <div class="product-card-enable-row">
            <div class="product-card-enable-name">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-3.png" alt=""> Кутузовская
                </a>
              </div>
            </div>
            <div class="product-card-enable-adres">
              Кутузовский проспект, д.&nbsp;26
            </div>
            <div class="product-card-enable-presence">
              В&nbsp;наличии
            </div>
            <div class="product-card-enable-time">
              Круглосуточно
            </div>
          </div>
          <div class="product-card-enable-row">
            <div class="product-card-enable-name">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-7.png" alt=""> Тульская
                </a>
              </div>
            </div>
            <div class="product-card-enable-adres">
              ул.&nbsp;Большая Тульская, д.&nbsp;2
            </div>
            <div class="product-card-enable-presence">
              <a href="#" class="product-card-table-icon">
                Под заказ
              </a>
            </div>
            <div class="product-card-enable-time">
              Круглосуточно
            </div>
          </div>
          <div class="product-card-enable-row">
            <div class="product-card-enable-name">
              <div class="shops-page-adres-h ">
                <a href="#">
                  <img src="/images/metro/metro-4.png" alt=""> Первомайская
                </a>
              </div>
            </div>
            <div class="product-card-enable-adres">
              ул.&nbsp;Первомайская, д.&nbsp;44/20
            </div>
            <div class="product-card-enable-presence">
              <a href="#" class="product-card-table-icon">
                Под заказ
              </a>
            </div>
            <div class="product-card-enable-time">
              Круглосуточно
            </div>
          </div>
        </div>
        <div class="more">
          <a href="#productCardEnable" class="allButJS" data-all="Свернуть список">
            <span>Весь список магазинов </span>
            <svg>
              <use xlink:href="#arrowMoreIcon"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="product-card-row shop-item-review">
        <div class="shop-item-review-h">
          отзывы
        </div>
        <div class="shop-item-review-call-form">
          <a href="#formShopItemReview" class="downLinkJS">Оставьте свой отзыв или вопрос</a>
        </div>
        <form action="index.php" class="form form-review -none" id="formShopItemReview">
          <div class="rating -chose">
            <div class="rating-item -isActive">
              <svg>
                <use xlink:href="#rateItemIcon" />
              </svg>
            </div>
            <div class="rating-item -isActive">
              <svg>
                <use xlink:href="#rateItemIcon" />
              </svg>
            </div>
            <div class="rating-item">
              <svg>
                <use xlink:href="#rateItemIcon" />
              </svg>
            </div>
            <div class="rating-item">
              <svg>
                <use xlink:href="#rateItemIcon" />
              </svg>
            </div>
            <div class="rating-item ">
              <svg>
                <use xlink:href="#rateItemIcon" />
              </svg>
            </div>
          </div>
          <div class="form-row">
            <div class="form-label">
              ФИО:*
            </div>
            <input type="text" value="Константин Константинович Константинопольский">
          </div>
          <div class="form-row">
            <div class="form-label">
              E-mail:*
            </div>
            <input type="email" value="" placeholder="Введите ваш e-mail">
            <div class="form-hint">
              E-mail не публикуется при отзыве и необходим для отсеивания искусственных отзывов, оставляемых роботами.
            </div>
          </div>
          <div class="form-row">
            <div class="form-label">
              Комментарий:*
            </div>
            <textarea placeholder="Очень классный магазин, рекомендую!"></textarea>
          </div>
          <div class="form-row form-review-subm">
            <div class="form-review-consent">
              <input type="checkbox" class="styleCH" name="val-rev-1" id="val-rev-1" value="val-rev-1">
              <label for="val-rev-1">Я принимаю условия <a href="#">Пользовательского соглашения</a></label>
            </div>
            <div class="form-capcha">
              <div class="form-capcha-label">
                4534535
              </div>
              <input type="text" name="" value="" placeholder="Введите символы">
            </div>
            <input type="submit" value="добавить отзыв" class="but -big">
          </div>
        </form>
        <div class="review-list review-list-down" id="reviewList">
          <div class="review-list-item">
            <div class="review-list-plate">
              <div class="rating">
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
              </div>
              <b class="review-list-name">Владимир</b>
              <span class="review-list-date">23.11.2015</span>
            </div>
            <div class="review-list-desc">
              <p>Отличные презервативы! Ощущения в них гораздо ближе к "естественным", чем во всех, опробованных мной ранее. Отличная теплопроводность ощущается сразу, тонкость тоже чувствуется. Удобная упаковка. Единственный нюанс - надеваются (раскатываются) немного сложнее, чем обычные латексные.</p>
            </div>
          </div>
          <div class="review-list-item">
            <div class="review-list-plate">
              <div class="rating">
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
              </div>
              <b class="review-list-name">Сергей</b>
              <span class="review-list-date">29.06.2015</span>
            </div>
            <div class="review-list-desc">
              <p>Попробовали. Нам понравились - ощущения действительно передают лучше чем латексные, причём лучше чем дюрексовские RealFeel, которые в-общем-то и так неплохо напоминали текстуру кожи. Нет запаха, не оставляют следов и ощущений после использования. Упаковка удобная - всегда знаешь какой стороной надевать. Я не знаю, почему с этими ощущения лучше - то ли из-за того, что они не тянутся, то ли из-за скольжения и меньшего количества смазки, но они лучше. По части внешнего вида впечатление двоякое - с одной стороны, они полностью прозрачные, а не мутные и желтоватые как латекс. С другой стороны, с ними вид такой, будто полиэтиленовый пакет надет ) Впрочем это не так важно - не смотреть же на это. Один большой минус - цена! Хоть через интернет и дешевле, но всё равно цена кусается, да и ждать приходится доставки.</p>
            </div>
          </div>
          <div class="review-list-item">
            <div class="review-list-plate">
              <div class="rating">
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
              </div>
              <b class="review-list-name">Кирилл</b>
              <span class="review-list-date">10.08.2014</span>
            </div>
            <div class="review-list-desc">
              <p>Очень тонкие презервативы. Просто супер! Дорогие, но качественные! Смазки почему-то меньше расходуется на них, чем на латексные. Доволен.</p>
            </div>
          </div>
          <!-- Пошли скрытые элементы -->
          <div class="review-list-item">
            <div class="review-list-plate">
              <div class="rating">
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
              </div>
              <b class="review-list-name">Владимир</b>
              <span class="review-list-date">23.11.2015</span>
            </div>
            <div class="review-list-desc">
              <p>Отличные презервативы! Ощущения в них гораздо ближе к "естественным", чем во всех, опробованных мной ранее. Отличная теплопроводность ощущается сразу, тонкость тоже чувствуется. Удобная упаковка. Единственный нюанс - надеваются (раскатываются) немного сложнее, чем обычные латексные.</p>
            </div>
          </div>
          <div class="review-list-item">
            <div class="review-list-plate">
              <div class="rating">
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
              </div>
              <b class="review-list-name">Сергей</b>
              <span class="review-list-date">29.06.2015</span>
            </div>
            <div class="review-list-desc">
              <p>Попробовали. Нам понравились - ощущения действительно передают лучше чем латексные, причём лучше чем дюрексовские RealFeel, которые в-общем-то и так неплохо напоминали текстуру кожи. Нет запаха, не оставляют следов и ощущений после использования. Упаковка удобная - всегда знаешь какой стороной надевать. Я не знаю, почему с этими ощущения лучше - то ли из-за того, что они не тянутся, то ли из-за скольжения и меньшего количества смазки, но они лучше. По части внешнего вида впечатление двоякое - с одной стороны, они полностью прозрачные, а не мутные и желтоватые как латекс. С другой стороны, с ними вид такой, будто полиэтиленовый пакет надет ) Впрочем это не так важно - не смотреть же на это. Один большой минус - цена! Хоть через интернет и дешевле, но всё равно цена кусается, да и ждать приходится доставки.</p>
            </div>
          </div>
          <div class="review-list-item">
            <div class="review-list-plate">
              <div class="rating">
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
                <div class="rating-item -isActive">
                  <svg>
                    <use xlink:href="#rateItemIcon" />
                  </svg>
                </div>
              </div>
              <b class="review-list-name">Кирилл</b>
              <span class="review-list-date">10.08.2014</span>
            </div>
            <div class="review-list-desc">
              <p>Очень тонкие презервативы. Просто супер! Дорогие, но качественные! Смазки почему-то меньше расходуется на них, чем на латексные. Доволен.</p>
            </div>
          </div>
        </div>
        <div class="review-list-all">
          <a href="#reviewList" class="allButJS" data-all="Свернуть отзывы">
            <span>Смотреть больше отзывов</span>
            <svg>
              <use xlink:href="#arrowMoreIcon" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </main>

  <section class="v-block wrapper ">
    <div class="v-block-plate">
      <div class="h2">ПОХОЖИЕ ТОВАРЫ</div>
    </div>
    <div class="v-block-wrap-slider -typeSlider">
      <div class="cat-list swiper-slider swiper-container -full">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <span class="cat-list-action">
                  хит
                </span>
                <img src="/images/catalog/catalog_img_2.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <img src="/images/temporary/cat/catalog_img.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <span class="cat-list-action">
                  -20%
                </span>
                <img src="/images/catalog/catalog_img_3.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price -oldPrice">
                  <span>700 руб.</span>
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <img src="/images/catalog/catalog_img_2.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <span class="-byOrder"></span>
                <img src="/images/catalog/catalog_img_2.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev">
        <svg>
          <use xlink:href="#backArrowIcon" />
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg>
          <use xlink:href="#backArrowIcon" />
        </svg>
      </div>
    </div>
    <div class="v-block-link">
      <a href="#">Все похожие товары >></a>
    </div>
  </section>

  <section class="v-block wrapper ">
    <div class="v-block-plate">
      <div class="h2">РЕКОМЕНДУЕМ ДОБАВИТЬ</div>
    </div>
    <div class="v-block-wrap-slider -typeSlider">
      <div class="cat-list swiper-slider swiper-container -full">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <span class="cat-list-action">
                  хит
                </span>
                <img src="/images/catalog/catalog_img_2.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <img src="/images/temporary/cat/catalog_img.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <span class="cat-list-action">
                  -20%
                </span>
                <img src="/images/catalog/catalog_img_3.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price -oldPrice">
                  <span>700 руб.</span>
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <img src="/images/catalog/catalog_img_2.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cat-list-item">
              <a href="#" class="cat-list-img">
                <span class="-byOrder"></span>
                <img src="/images/catalog/catalog_img_2.jpg" alt="">
              </a>
              <div class="cat-list-desc">
                <div class="rating">
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg>
                      <use xlink:href="#rateItemIcon" />
                    </svg>
                  </div>
                </div>
                <div class="cat-list-title">
                  <a href="#">
                    Маска нитяная TOYFA Theatre
                  </a>
                </div>
                <div class="cat-list-bal">
                  +180 баллов
                </div>
                <div class="cat-list-price">
                  590&nbsp;руб.
                </div>
                <a href="#addBasket" class="but inlinePopupJS">
                  В корзину
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev">
        <svg>
          <use xlink:href="#backArrowIcon" />
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg>
          <use xlink:href="#backArrowIcon" />
        </svg>
      </div>
    </div>
    <div class="v-block-link">
      <a href="#">Все рекомендуемые товары  >></a>
    </div>
  </section>
{% endblock afterHeader %}