{% extends '../structure/index.twig' %}

{% block afterHeader %}
  <div class="breadcrumbs wrapper">
    <div class="breadcrumbs-mob-none">
      <a href="#">Секс-шоп главная</a> > Он и Она | TUBE
    </div>
    <a href="#" class="back">
      <svg>
        <use xlink:href="#backIcon" />
      </svg>
      Назад
    </a>
  </div>
  <div class="wrapper wrap-cont -video -clf">
    <main class="cont-right -video">
      <h1>Он и Она | TUBE</h1>
      <div class="video-page">
        <div class="v-block-plate -int">
          рекомедуемые видео
        </div>
        <div class="video-group">
          <a href="#" class="video-item">
            <span class="video-img">
              <img src="/images/video/img-1.jpg" alt="">
            </span>
            <span class="video-head">
              Наименование видео
            </span>
          </a>
          <a href="#" class="video-item">
            <span class="video-img">
              <img src="/images/video/img-2.jpg" alt="">
            </span>
            <span class="video-head">
              Наименование видео
            </span>
          </a>
          <a href="#" class="video-item">
            <span class="video-img">
              <img src="/images/video/img-3.jpg" alt="">
            </span>
            <span class="video-head">
              Наименование видео
            </span>
          </a>
          <a href="#" class="video-item">
            <span class="video-img">
              <img src="/images/video/img-4.jpg" alt="">
            </span>
            <span class="video-head">
              Наименование видео
            </span>
          </a>
        </div>
        <div class="v-block-link">
          <a href="#">Все рекомендуемые видео &gt;&gt;</a>
        </div>
        <div class="v-block-plate -int">
          новые видео
        </div>
        <div class="video-group">
          <a href="#" class="video-item">
            <span class="video-img">
              <img src="/images/video/img-1.jpg" alt="">
            </span>
            <span class="video-head">
              Наименование видео
            </span>
          </a>
          <a href="#" class="video-item">
            <span class="video-img">
              <img src="/images/video/img-2.jpg" alt="">
            </span>
            <span class="video-head">
              Наименование видео
            </span>
          </a>
          <a href="#" class="video-item">
            <span class="video-img">
              <img src="/images/video/img-3.jpg" alt="">
            </span>
            <span class="video-head">
              Наименование видео
            </span>
          </a>
          <a href="#" class="video-item">
            <span class="video-img">
              <img src="/images/video/img-4.jpg" alt="">
            </span>
            <span class="video-head">
              Наименование видео
            </span>
          </a>
        </div>
        <div class="v-block-link">
          <a href="#">Все новые видео &gt;&gt;</a>
        </div>
      </div>
    </main>
    <aside class="sidebar -video">
      <div class="sidebar-up-but">
        <a href="#pop-1" class="but">
          все видео
        </a>
      </div>
      <div class="sidebar-video" data-upblock="#pop-1">
        <div class="sidebar-video-h">
          Он и Она | TUBE
        </div>
        <ul class="sidebar-video-nav">
          <li>
            <a href="#">Новое </a>
          </li>
          <li>
            <a href="#">Рекомендованное</a>
          </li>
          <li>
            <a href="#">Оральный секс</a>
          </li>
          <li>
            <a href="#">Популярная сексология</a>
          </li>
          <li>
            <a href="#">Групповой секс</a>
          </li>
          <li>
            <a href="#">БДСМ</a>
          </li>
          <li>
            <a href="#">Анальный секс</a>
          </li>
          <li>
            <a href="#">Товары для секса</a>
          </li>
          <li>
            <a href="#">Увеличение члена</a>
          </li>
          <li>
            <a href="#">Страпон</a>
          </li>
          <li>
            <a href="#">Интимная косметика</a>
          </li>
          <li>
            <a href="#">LoveStyle - Стиль Любви</a>
          </li>
        </ul>
      </div>
    </aside>
  </div>
  
{% endblock afterHeader %}