h1,
.h1 {
  color: #0f0f0f;
  font-size: 22px;
  font-weight: bold;
  line-height: 120%;
  margin: 0 0 10px;
  letter-spacing: -1px;
  text-transform: uppercase;
}
h2,
.h2 {
  font: 22px/120% $helvFont;
}
h3,
.h3 {
  font: 18px/120% $helvFont;
}
@media screen and (max-width: $largeTablet) {
  h1,
  .h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: $smallTablet) {
  h1,
  .h1 {
    font-size: 22px;
  }
  h2,
  .h2 {
    font-size: 20px;
  }
  h3,
  .h3 {
    font-size: 16px;
  }
}
@media screen and (max-width: $largeMobile) {
  h1,
  .h1 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  &.-action {
    h1,
    .h1 {
      padding: 0 17px;
      margin: 17px 0 0;
    }
  }
  h2,
  .h2 {
    font-size: 18px;
  }
  h3,
  .h3 {
    font-size: 14px;
  }
}
article,
section,
main {
  a {
    //Старый цвет
    //color: #1A1A1A;
    color: $f3c;
  }
  @media screen and (max-width: $smallTablet) {
    font-size: 16px;
  }
  @media screen and (max-width: $largeMobile) {
    font-size: 14px;
  }
}
main {
  h1,
  .h1 {
    margin: 0 0 19px;
  }
  @media screen and (max-width: $largeMobile) {
    h1,
    .h1 {
      margin-top: 11px;
    }
  }
}