.video-form{
  width: 100%;
  padding: 23px 20px;
  border: 3px dotted #bbe581;
  background: #fff;
  margin-bottom: 60px;
  margin-top: 30px;
  box-sizing: border-box;
  input{
    display: block;
    height: 36px;
    border: 1px solid #dadada;
    width: 247px;
    margin-bottom: 35px;
    font-size: 18px;
    padding: 0 10px;
    box-sizing: border-box;
    &.input-long{
      width: 100%;
      font-size: 14px;
    }
    &::placeholder{
      color: #118008;
    }
  }
  &-header{
    font: bold 20px/120% HelveticaNeueCyr;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .but{
    margin: 25px 0 20px;
  }
  select{
    font-size: 18px;
  }
}
