<div class="art-list-item">
  <a href="#" class="art-list-img">
    <img src="/images/temporary/article.jpg">
  </a>
  <div class="art-list-desc">
    <div class="art-list-wrap">
      <h2>
        <a href="#">
          Взгляд в&nbsp;будущее: инновационная контрацепция для&nbsp;мужчин
        </a>
      </h2>
      <div class="art-list-text">
        Еще 50 лет назад гормональные препараты для женщин имели множество побочных эффектов, а сейчас они практически безопасны. Более того, ученые задумываются о гормональной (и не только) контрацепции для мужчин. Какие же изменения в этой области ждут нас в ближайшем будущем? Давайте присмотримся к разработкам ученых.
      </div>
      <div class="art-list-more">
        <a href="#">Читать дальше>></a>
      </div>
    </div>
    <div class="art-list-tag">
      <a href="#">контрацептивы для мужчин</a>
      <a href="#">защита от беременности</a>
      <a href="#">безопасный секс</a>
    </div>
  </div>
</div>