<div class="cat-list-item">
  <a href="#" class="cat-list-img">
    <span class="cat-list-action">
      -20%
    </span>
    <img src="/images/catalog/catalog_img_3.jpg" alt="">
  </a>
  <div class="cat-list-desc">
    <div class="rating">
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
    </div>
    <div class="cat-list-title">
      <a href="#">
        Маска нитяная TOYFA Theatre
      </a>
    </div>
    <div class="cat-list-bal">
      +180 баллов
    </div>
    <div class="cat-list-price -oldPrice">
      <span>700&nbsp;руб.</span>
      590&nbsp;руб.
    </div>
    <a href="#addBasket" class="but inlinePopupJS">
      В корзину
    </a>
  </div>
</div>
<div class="cat-list-item">
  <a href="#" class="cat-list-img">
    <img src="/images/catalog/catalog_img_2.jpg" alt="">
  </a>
  <div class="cat-list-desc">
    <div class="rating">
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
    </div>
    <div class="cat-list-title">
      <a href="#">
        Маска нитяная TOYFA Theatre
      </a>
    </div>
    <div class="cat-list-bal">
      +180 баллов
    </div>
    <div class="cat-list-price">
      590 руб.
    </div>
    <a href="#addBasket" class="but inlinePopupJS">
      В корзину
    </a>
  </div>
</div>
<div class="cat-list-item">
  <a href="#" class="cat-list-img">
    <img src="/images/temporary/cat/catalog_img.jpg" alt="">
  </a>
  <div class="cat-list-desc">
    <div class="rating">
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
    </div>
    <div class="cat-list-title">
      <a href="#">
        Маска нитяная TOYFA Theatre
      </a>
    </div>
    <div class="cat-list-bal">
      +180 баллов
    </div>
    <div class="cat-list-price">
      590&nbsp;руб.
    </div>
    <a href="#addBasket" class="but inlinePopupJS">
      В корзину
    </a>
  </div>
</div>
<div class="cat-list-item">
  <a href="#" class="cat-list-img">
    <span class="-byOrder"></span>
    <img src="/images/catalog/catalog_img_2.jpg" alt="">
  </a>
  <div class="cat-list-desc">
    <div class="rating">
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
    </div>
    <div class="cat-list-title">
      <a href="#">
        Маска нитяная TOYFA Theatre
      </a>
    </div>
    <div class="cat-list-bal">
      +180 баллов
    </div>
    <div class="cat-list-price">
      590&nbsp;руб.
    </div>
    <a href="#addBasket" class="but inlinePopupJS">
      В корзину
    </a>
  </div>
</div>