<div class="cat-list-item">
  <a href="#" class="cat-list-img">
    <img src="/images/temporary/cat/img-2.jpg" alt="">
  </a>
  <div class="cat-list-desc -normal">
    <div class="rating -normal">
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-numb">57</div>
    </div>
    <div class="cat-list-title -normal">
      <a href="#">
        Многофункциональный стимулятор для пар Satisfyer Partner Multifun 2 - розовый
      </a>
    </div>
    <div class="cat-list-price -smallLH">
      10&nbsp;590<span class="-rub">a</span>
      <span class="-plus">+2757&nbsp;б.</span>
    </div>
    <div class="cat-list-but">
      <a href="#" class="-basket">
        <svg>
          <use xlink:href="#basketIcon" />
        </svg>
      </a>
      <a href="#" class="-compare">
        <svg>
          <use xlink:href="#compareIcon" />
        </svg>
      </a>
      <a href="#" class="-like">
        <svg>
          <use xlink:href="#likeIcon" />
        </svg>
      </a>
    </div>
  </div>
</div>
<div class="cat-list-item">
  <a href="#" class="cat-list-img">
    <img src="/images/temporary/cat/img-1.jpg" alt="">
  </a>
  <div class="cat-list-desc -normal">
    <div class="rating -normal">
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-numb">57</div>
    </div>
    <div class="cat-list-title -normal">
      <a href="#">
        Многофункциональный стимулятор для пар Satisfyer Partner Multifun 2 - розовый
      </a>
    </div>
    <div class="cat-list-price -smallLH">
      10&nbsp;590<span class="-rub">a</span>
      <span class="-plus">+2757&nbsp;б.</span>
    </div>
    <div class="cat-list-but">
      <a href="#" class="-basket">
        <svg>
          <use xlink:href="#basketIcon" />
        </svg>
      </a>
      <a href="#" class="-compare">
        <svg>
          <use xlink:href="#compareIcon" />
        </svg>
      </a>
      <a href="#" class="-like">
        <svg>
          <use xlink:href="#likeIcon" />
        </svg>
      </a>
    </div>
  </div>
</div>
<div class="cat-list-item">
  <a href="#" class="cat-list-img">
    <img src="/images/temporary/cat/img-4.jpg" alt="">
  </a>
  <div class="cat-list-desc -normal">
    <div class="rating -normal">
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-numb">57</div>
    </div>
    <div class="cat-list-title -normal">
      <a href="#">
        Многофункциональный стимулятор для пар Satisfyer Partner Multifun 2 - розовый
      </a>
    </div>
    <div class="cat-list-price -smallLH">
      10&nbsp;590<span class="-rub">a</span>
      <span class="-plus">+2757&nbsp;б.</span>
    </div>
    <div class="cat-list-but">
      <a href="#" class="-basket">
        <svg>
          <use xlink:href="#basketIcon" />
        </svg>
      </a>
      <a href="#" class="-compare">
        <svg>
          <use xlink:href="#compareIcon" />
        </svg>
      </a>
      <a href="#" class="-like">
        <svg>
          <use xlink:href="#likeIcon" />
        </svg>
      </a>
    </div>
  </div>
</div>
<div class="cat-list-item">
  <a href="#" class="cat-list-img">
    <img src="/images/temporary/cat/img-3.jpg" alt="">
  </a>
  <div class="cat-list-desc -normal">
    <div class="rating -normal">
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon"></use>
        </svg>
      </div>
      <div class="rating-numb">57</div>
    </div>
    <div class="cat-list-title -normal">
      <a href="#">
        Многофункциональный стимулятор для пар Satisfyer Partner Multifun 2 - розовый
      </a>
    </div>
    <div class="cat-list-price -smallLH">
      10&nbsp;590<span class="-rub">a</span>
      <span class="-plus">+2757&nbsp;б.</span>
    </div>
    <div class="cat-list-but">
      <a href="#" class="-basket">
        <svg>
          <use xlink:href="#basketIcon" />
        </svg>
      </a>
      <a href="#" class="-compare">
        <svg>
          <use xlink:href="#compareIcon" />
        </svg>
      </a>
      <a href="#" class="-like">
        <svg>
          <use xlink:href="#likeIcon" />
        </svg>
      </a>
    </div>
  </div>
</div>