<ul>
  <li>
    <a href="#">Страпоны</a>
  </li>
  <li>
    <a href="#">Анальные игрушки</a>
  </li>
  <li>
    <a href="#">Вибраторы для пар</a>
  </li>
  <li>
    <a href="#">Двухсторонние фаллосы</a>
  </li>
  <li>
    <a href="#">Стимуляторы из металла, керамики и стекла</a>
  </li>
  <li>
    <a href="#">Носадки и кольца</a>
  </li>
  <li>
    <a href="#">Подарочные наборы</a>
  </li>
  <li>
    <a href="#">Секс-машины</a>
  </li>
  <li>
    <a href="#" class="-action">Новые товары</a>
  </li>
  <li>
    <a href="#" class="-action">Лидеры продаж</a>
  </li>
</ul>