<div class="regPage-smm">
  <a href="#">
    <img src="/images/regPage/you.svg" alt="">
  </a>
  <a href="#">
    <img src="/images/regPage/t.svg" alt="">
  </a>
  <a href="#">
    <img src="/images/regPage/ins.svg" alt="">
  </a>
  <a href="#">
    <img src="/images/regPage/google.svg" alt="">
  </a>
  <a href="#">
    <img src="/images/regPage/tw.svg" alt="">
  </a>
  <a href="#">
    <img src="/images/regPage/fc.svg" alt="">
  </a>
  <a href="#">
    <img src="/images/regPage/vk.svg" alt="">
  </a>
  <span class="regPage-smm-all">
    
  </span>
</div>