<div class="test-item">
  <a href="#" class="test-img">
    <img src="/images/temporary/test-img.jpg">
  </a>
  <div class="test-wrap">
    <h2>
      <a href="#">
        Насколько вы раскованы в&nbsp;постели?
      </a>
    </h2>
    <div class="rating">
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
      <div class="rating-item">
        <svg>
          <use xlink:href="#rateItemIcon" />
        </svg>
      </div>
    </div>
    <div class="test-title">
      <p>Среднестатистический мужчина мечтает, чтобы его женщина позволяла ему делать в постели все, что он пожелает, да и сама иногда проявляла инициативу. Раскованность женщины, как правило, определяет её способность удовлетворить мужчину. Так насколько вы раскованы в сексе?</p>
    </div>
    <div class="test-foot">
      <p>Вопросов: 8</p>
      <p>Тест прошли: 10532 человек</p>
    </div>
    <div class="test-more">
      <a href="#">Начать</a>
    </div>
  </div>
</div>