.-is404
  .block-content
    width: 376px;
    max-width: 100%;
    margin: auto;
    text-align: center;
  .container-404
    background: url('/frontend/images_new/404.svg') no-repeat center;
  .btn-full
    width: 150px;
    margin: auto;
.page-404-1
  font: 48px 'Golos' ;
  font-weight: 700;
.page-404-2
  font: 200px 'Golos' ;
  font-weight: 700;
  line-height: 150px;
  margin-bottom: 15px;
.page-404-3
  font: 24px 'Golos' ;
  font-weight: 600;
  line-height: 26.5px;
@media screen and (max-width: 760px)
  .page-404-1
    font-size: 38px;
  .page-404-2
    font-size: 140px;
    line-height: 120px;
  .page-404-3
    font-size: 18px;
.container-500
  display: flex;
  padding-top: 190px;
  padding-bottom: 190px;
  justify-content: center;
  @media screen and (max-width: 980px)
    &.container
      padding: 90px 32px;
  @media screen and (max-width: 760px)
    flex-wrap: wrap;
  .left
    width: 500px;
    font-size: 181px;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    text-align: center;
    max-width: 100%;
    @media screen and (max-width: 980px)
      width: 370px;
      font-size: 150px;
  .right
    &-h
      font-size: 24px;
      margin: 30px 0;
      font-weight: 600;
    p
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 40px;
    .btn-full_white
      max-width: 243px;
      display: inline-block;
      margin-right: 28px;
      margin-bottom: 20px;
      svg
        width: 22px;
        height: 20px;
        vertical-align: bottom;
        margin-right: 7px;
