@font-face {
	font-family: 'Golos';
	src: url('/frontend/new-fonts/Golos-Text_Black.eot');
	src:
	     url('/frontend/new-fonts/Golos-Text_Black.eot?#iefix') format('embedded-opentype'),
	     url('/frontend/new-fonts/Golos-Text_Black.woff2') format('woff2'),
	     url('/frontend/new-fonts/Golos-Text_Black.woff') format('woff'),
	     url('/frontend/new-fonts/Golos-Text_Black.ttf') format('truetype');
	font-weight: bolder;
	font-style: normal;
}

@font-face {
  font-family: 'Golos';
  src: url('/frontend/new-fonts/Golos-Text_Bold.eot');
  src:
    url('/frontend/new-fonts/Golos-Text_Bold.eot?#iefix') format('embedded-opentype'),
    url('/frontend/new-fonts/Golos-Text_Bold.woff2') format('woff2'),
    url('/frontend/new-fonts/Golos-Text_Bold.woff') format('woff'),
    url('/frontend/new-fonts/Golos-Text_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GolosTextWebDemiBold';
  src: url('/frontend/new-fonts/Golos-Text_DemiBold.eot');
  src:
    url('/frontend/new-fonts/Golos-Text_DemiBold.eot?#iefix') format('embedded-opentype'),
    url('/frontend/new-fonts/Golos-Text_DemiBold.woff2') format('woff2'),
    url('/frontend/new-fonts/Golos-Text_DemiBold.woff') format('woff'),
    url('/frontend/new-fonts/Golos-Text_DemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Golos';
  src: url('/frontend/new-fonts/Golos-Text_Medium.eot');
  src:
    url('/frontend/new-fonts/Golos-Text_Medium.eot?#iefix') format('embedded-opentype'),
    url('/frontend/new-fonts/Golos-Text_Medium.woff2') format('woff2'),
    url('/frontend/new-fonts/Golos-Text_Medium.woff') format('woff'),
    url('/frontend/new-fonts/Golos-Text_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Golos';
  src: url('/frontend/new-fonts/Golos-Text_Regular.eot');
  src:
    url('/frontend/new-fonts/Golos-Text_Regular.eot?#iefix') format('embedded-opentype'),
    url('/frontend/new-fonts/Golos-Text_Regular.woff2') format('woff2'),
    url('/frontend/new-fonts/Golos-Text_Regular.woff') format('woff'),
    url('/frontend/new-fonts/Golos-Text_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GolosTextWebVF';
  src: url('/frontend/new-fonts/Golos-Text_VF.eot');
  src:
    url('/frontend/new-fonts/Golos-Text_VF.eot?#iefix') format('embedded-opentype'),
    url('/frontend/new-fonts/Golos-Text_VF.woff2') format('woff2'),
    url('/frontend/new-fonts/Golos-Text_VF.woff') format('woff'),
    url('/frontend/new-fonts/Golos-Text_VF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


