@import "set"
@import "base"
@import "font"
@import "form"
@import "page"
@import "payment"
@import "articles"
@import "catalog"
@import "tests"
@import "brands"
@import "express"
@import "how-to-order"
@import "size"
@import "video"
@import "guarantee"
@import "contact"
@import "stock"
@import "lk"
@import "delivery"
@import "basket"
@import "header"
@import "footer"
@import "shops-page"
@import "error-pages"
@import "bonus"
@import "service-guarantee"
@import "order-confirm"
@import "vakansii"
@import "wheel"
@import "18age"
@import "sliders"
@import "favorites"
@import "reviews"
@import "tinkoff"
@import "oprosnik"
@import "novice"
