.page-payment
  .list-icon
    max-width 872px

.list-icon__item
  display flex
  +max(sMobile)
    display block
  &:not(:first-child)
    margin-top 32px

.list-icon__img
  max-width 64px
  width 64px
  height 64px
  flex 1 0 auto
  margin-right 36px
  +max(sMobile)
    margin-bottom 10px

.list-icon__title
  margin-bottom 6px

.list-icon__content
  border-bottom: 1px solid #E1E0E9
  padding-bottom 23px