.wrap-step-ser-garant
  max-width: 776px;
  margin: auto;

.ser-garant
  .custom-check_shadow
    border: 1px solid #ccc;
  form
    max-width: 400px;
    margin: 7px auto 100px;
  .field-default label
    margin-top: 18px;
  .btn-full_rad
    margin: 45px auto 25px;
    max-width: 347px;
