.vacs
  &-wrapper
    padding: 55px 0;
    margin-bottom: 55px;
    .h2
      text-align: center;
    .form-edit
      padding-right: 0;
      margin-top: 28px;
      max-width: 836px;
      .wrap-btn
        padding-left: 0;
    .custom-check
      margin-top: 25px;
      justify-content: center;
    .wrap-custom-select
      background: #fff;
      .ui-selectmenu-button
        &.ui-button
          width: 100%;
.ui-selectmenu-open
  ul
    li:last-child
      padding-bottom: 15px;
.vacancies
  margin: auto;
  max-width: 776px;
  &-text
    margin: auto;
    margin-top: 50px;
    max-width: 576px;
    &-h
      text-align: center;
      font-size: 24px;
      line-height: 28px;
      font-weight: 500;
  &-detaillist
    margin-top: 13px;
  &-element
    margin-top: 15px;
  &-header
    text-align: center;
    background: #F3F4F5;
    border-radius: 8px;
    line-height: 48px;
    cursor: pointer;
  &-detail
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid #E1E0E9;
    padding: 46px 76px;
    ul
      margin-bottom: 35px;
      li
        margin-bottom: 3px;
        line-height: normal;
  &.big
    font-size: 20px;
    line-height: normal;
    .anon
      padding-left: 100px;
      position: relative;
      &:before
        content: '';
        display: block;
        height: 76px;
        width: 76px;
        border-radius: 50%;
        top: 50%;
        left: 0;
        position: absolute;
        transform: translate(0, -50%);
        background: #EF182F url('/frontend/images_new/anon.svg') no-repeat 50%;
  .another
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 20px;
    strong
      font-size: 24px;
      margin: 30px 0;
      display: block;
  ul.normal
    li
      margin-bottom: 3px;
      line-height: normal;

// @media screen and (max-width: 700px)
